@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


:root {
  --azurite-bg: #040429;
  --azurite-bg2: #121236;
  --azurite-sec: #24CC89;
  --azurite-links: #8bffcf;
  --azurite-home-icon: url('https://i.imgur.com/kP6FFU5.png');
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 100deg;
  --watermark-filter-brightness: 100%;
  --watermark-filter-contrast: 70%;
  --avatar-radius: 5px;
  --server-radius: 5px;
  --msg-bg-radius: 5px;
  --font: 'Righteous', cursive;
}

.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
  --app-border-frame: var(--azurite-sec) !important;
}

body {
  font-family: var(--font);
}

.headerTop-3GPUSF {
  background-color: var(--azurite-bg);
}

.clamped-2ZePhX,
.tabBar__81b3e {
  color: var(--azurite-sec);
}

.container_d8f25b {
  background-color: var(--azurite-bg2);
  color: var(--azurite-sec);
}

.content__235ca,
.timestamp_c19a55 {
  color: var(--azurite-links);
}

.roleRow_a930f1:hover:not(.roleRowDisableHover_a930f1) .circleButton_a930f1 {
  background-color: var(--azurite-sec);
}

.titleContainer_e29cd7,
.customScroller__23e6b {
  background-color: var(--azurite-bg);
}

.header_c6bf1b {
  background-color: var(--azurite-bg);
}

.titleBlurb_a5b35c,
.theme-dark .subscriberCount_a36dee,
.theme-dark .subscriberCount_a36dee strong,
.perkTitle_a36dee,
.perkDescription_a36dee,
.defaultColor-HXu-5n,
.text-md-medium-2avxhQ,
.text-md-normal-304U3g,
.text__6436f,
.person_a930f1,
.itemLabel-27pirQ,
.colorDescription__981c8,
.description__05e8e,
.description-30xx7u,
.labelDescriptor-34wZ-z {
  color: var(--azurite-sec);
}

.theme-dark .elevationBorderLow__2b2f1 {
  background-color: var(--azurite-bg);
}

.bodyInnerWrapper-2bQs1k,
.footer-3naVBw {
  background-color: var(--azurite-bg);
}

.theme-dark .tierHeaderUnlocked_a36dee,
.wrapper__83b1d,
.wrapper__83b1d:hover,
.tierHeaderContent_a36dee,
.theme-dark .tierBody_a36dee {
  background-color: var(--azurite-bg2);
}

.header_c0e32c,
.list_c656ac {
  background-color: var(--azurite-sec);
}

.action__83b1d {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.descriptionBox__981f7 {
  background-color: var(--azurite-sec);
}

.descriptionRow__981f7,
.title-3hptVQ {
  color: var(--azurite-sec);
}

.input-2g-os5,
.input__9fba8,
.layout__799c9,
.input-2g-os5::placeholder,
.placeholder-2XdCpg,
.option-2eIyOn {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.welcomeTitle__74a6a.size24-17l95E {
  color: var(--azurite-sec);
}

.preview__5d148,
.previewContainer__74a6a,
.enableContainer-2MEsKV,
.exampleContainer-2O-nVK {
  background-color: var(--azurite-bg2);
}

.previewMessage__5d148,
.welcomeChannel__74a6a {
  background-color: var(--azurite-bg);
}

.featureCard__7dd5e,
.checklistHeader-3liG7E,
.checklistItem__99871 {
  background-color: var(--azurite-sec);
}

.scrollableContainer__74017 {
  background-color: var(--azurite-bg2);
}

.textArea__74017 .fakeLink_ada32f {
  color: var(--azurite-sec);
}

.theme-dark .focused__55c99 {
  background-color: var(--azurite-bg);
  color: var(--azurite-sec);
}

.input_df4dd0,
.input_df4dd0:hover {
  background-color: var(--azurite-sec);
}

.inner_fea832 {
  background-color: var(--azurite-bg);
}

.header__14245 {
  color: var(--azurite-bg);
}

.icon_fea832 {
  color: var(--azurite-bg);
}

.slateTextArea_ec4baf {
  color: var(--azurite-sec);
}

.profileBioInput__74017 span {
  color: var(--azurite-bg2);
}

.searchBar__97492,
.search__97492 .DraftEditor-root .public-DraftEditorPlaceholder-root {
  color: var(--azurite-bg);
}

.tabBarItemContainer_c7e907 {
  color: red;
}


.contentWrapper__08434,
.wrapper__14245,
.list-obNEuP,
.inspector_aeaaeb,
.unicodeShortcut_b9ee0c {
  background-color: var(--azurite-sec);
}

.userPopout-2j1gM4 {
  background-color: var(--azurite-bg);
}

.content_f75fb0,
.scroller__99e7c {
  background-color: var(--azurite-bg);
}

.container__37e49 {
  order: -1;
}

.scroller__7d20c,
.section__00943 {
  background-color: var(--azurite-sec);
}

.base-21yXnu {
  color: var(--azurite-bg);
}

.colorHeaderSecondary-g5teka {
  color: var(--azurite-links);
}

.panels__5e434 {
  background-color: var(--azurite-bg);
  border-top: 1px solid var(--azurite-sec);
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
  border-bottom: 1px solid var(--azurite-sec);
  border-radius: 5px;
}

.typeWindows__421ed .winButton__421ed>svg {
  display: none;
}

.typeWindows__421ed .winButton__421ed {
  background: none;
  top: 0;
  width: 12px;
  height: 12px;
  margin: 4px 12px 0px 0px;
}

.typeWindows__421ed .winButton__421ed:nth-child(2) {
  margin-right: 12px;
}

.typeWindows__421ed .winButton__421ed::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 12px;
  transition: 0.1s;
}

.typeWindows__421ed .winButtonClose__421ed::after {
  background-color: hsl(0, 50%, 50%) !important;
}

.typeWindows__421ed .winButtonMinMax__421ed:nth-child(3)::after {
  background-color: hsl(120, 50%, 50%) !important;
}

.typeWindows__421ed .winButtonMinMax__421ed:nth-child(4)::after {
  background-color: hsl(50, 50%, 50%) !important;
}

.typeWindows__421ed>div:hover::after {
  transform: scale(1.1);
}

.contents_c19a55 .messageContent_c19a55,
.container_b7e1cb {
  background-color: var(--azurite-bg2);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: var(--msg-bg-radius);
}

.messageContent_c19a55:empty {
  display: none !important;
}

article.embedWrapper_b7e1cb.embedFlexGrow_b7e1cb.embedFull__623de.embed__623de.markup__75297.justifyAuto__623de {
  width: 432px;
}

.markup__75297 blockquote,
.markup__75297 pre {
  max-width: 100%;
}


.newMessagesBar__0f481 {
  background-color: var(--azurite-sec);
}

.barButtonBase__0f481 {
  color: var(--azurite-bg);
}

.unreadPill__908e2 {
  background-color: var(--azurite-sec);
}

.messageContent_c19a55 {
  color: var(--azurite-sec);
}

.repliedMessage_c19a55 {
  color: var(--azurite-links);
}

.theme-dark .wrapper_d4fa29 {
  background: var(--azurite-sec);
  color: var(--azurite-bg);
}

.panel__5dec7 {
  border-top: 1px solid var(--azurite-sec);
}

.container__37e49 {
  border-width: 10px;
  border-top: 1px solid var(--azurite-sec);
}

.container__9293f.themed__9293f,
.theme-dark .children__9293f:after {
  background: var(--azurite-bg);
}


.layers__960e4 {
  border-top: 1px solid var(--azurite-sec);
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
  border-bottom: 1px solid var(--azurite-sec);
  background-color: var(--azurite-bg);
}


.inner__999f6,
.icon_fb52f0 {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg2);
}

.themed-2-lozF .item-3XjbnG {
  color: var(--azurite-sec);
}

.container__37e49 {
  container-type: normal;
}

.container__37e49 .buttons__37e49 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 150px;
  width: 80px;
  z-index: 1;
  padding: 20px 0 10px 0;
  flex-direction: column;
  border-top: 1px solid var(--azurite-sec);
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
  border-bottom: 1px solid var(--azurite-sec);
  border-radius: 5px;
  background: var(--azurite-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container__37e49 {
  position: relative;
  border: 1px solid var(--azurite-sec);
  border-radius: 5px;
}

/*.container__37e49 .flex__7c0ba .button__67645 {
	margin: 8px auto 0 auto;
  pointer-events: auto;
	border-radius: 50%;
}*/

.content-2a4AW9,
.container__37e49 {
  background-color: var(--azurite-bg) !important;
}

nav.guilds__5e434 {
  margin-bottom: 180px !important;
}

.scroller_ef3116 {
  background-color: var(--azurite-bg);
  border-radius: 5px;
  border-top: 3px solid var(--azurite-bg);
  border-right: 3px solid var(--azurite-bg);
  border-left: 3px solid var(--azurite-bg);
}


.iconWrapper__9293f[aria-label="Help"] {
  display: none;
}

.topic__6ec1a {
  color: var(--azurite-links);
}

.peopleList__5ec2f,
.peopleColumn__133bf {
  background-color: var(--azurite-bg);
}

.wrapper__00943,
.theme-dark .outer_bf1984.interactive_bf1984,
.theme-dark .outer_bf1984.interactive_bf1984:hover {
  background-color: var(--azurite-sec) !important;
  border-top: 3px solid var(--azurite-bg);
  border-right: 3px solid var(--azurite-bg);
  border-left: 3px solid var(--azurite-bg);
  border-bottom: 3px solid var(--azurite-bg);
}

.unreadImportant__2ea32 {
  background-color: var(--azurite-links);
}

.membersWrap_c8ffbb.hasCounter .members_c8ffbb {
  background-color: var(--azurite-bg);
  color: var(--azurite-sec);
}

.ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header,
#MemberCount {
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
}

.button__67645.enabled__67645 {
  color: var(--azurite-sec);
}

.button__67645.enabled__67645:hover {
  color: var(--azurite-sec);
  background-color: var(--azurite-bg);
}

.searchBar_e6b769 {
  background-color: var(--azurite-bg);
}

.searchBar_e6b769 .searchBarComponent__35e86 {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
  border-radius: 20px;
}

.scroller__36d07,
.quickswitcher_ac6cb0,
.scroller_ac6cb0 {
  background-color: var(--azurite-bg);
}

.input_ac6cb0 {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
  border-radius: 15px;
}

.input_ac6cb0::placeholder {
  color: var(--azurite-bg);
}

.form_f75fb0 {
  background-color: var(--azurite-bg);
}

.form_f75fb0 .channelTextArea_f75fb0 .textArea__74017 .placeholder__443e5 {
  color: var(--azurite-sec);
}

.form_f75fb0 .channelTextArea_f75fb0 .scrollableContainer__74017 {
  background-color: var(--azurite-bg);
  border-radius: 5px;
  border-top: 3px solid var(--azurite-sec);
  border-right: 3px solid var(--azurite-sec);
  border-left: 3px solid var(--azurite-sec);
  border-bottom: 3px solid var(--azurite-sec);
}

.form_f75fb0 .channelTextArea_f75fb0 {
  background-color: transparent;
}

.form_f75fb0:before {
  display: none;
}

.title_f75fb0 {
  border-bottom: 1px solid var(--azurite-sec);
}

.replyLabel__841c8,
.button__24af7 {
  color: var(--azurite-sec);
}

.attachButtonPlus__0923f {
  fill: var(--azurite-sec);
}


.members_c8ffbb,
.messages__1ccd1,
.header_f37cb1,
.members_c8ffbb,
.members_c8ffbb>div,
.membersWrap_c8ffbb {
  background-color: var(--azurite-bg);
}

.members_c8ffbb,
.members_c8ffbb>div {
  border-left: 1px solid var(--azurite-sec);
}

.topSection-13QKHs {
  background-color: var(--azurite-bg);
}

.wrapper_d5f3cd {
  background-color: var(--azurite-sec);
}

.infoScroller-1QMpon,
.listScroller__9d78f {
  background-color: var(--azurite-bg);
}

.scroller__6b0e0 {
  background-color: var(--azurite-bg);
}

.contentTitle__13533,
.theme-dark .selected-2xa993,
.segmentControlOption-3MnJdT,
.closeIcon-11LhXr {
  color: var(--azurite-sec);
}

.theme-dark .root__49fc1,
.theme-dark .footerSeparator-VzAYwb {
  background-color: var(--azurite-bg);
}

.container-q97qHp,
.discriminator-1bqsd3,
.theme-dark .contentTitle__13533 strong {
  color: var(--azurite-links);
}

.scroller-1bVxF5 {
  background-color: var(--azurite-sec);
  border-radius: 5px;
}

.button_f7ecac,
.button_f7ecac:hover {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.item-1OdjEX {
  color: var(--azurite-bg);
}

.colorDefault-CDqZdO.focused-3qFvc8 {
  background-color: transparent;
  color: var(--azurite-bg);
}

.linkButtonIcon__972a0,
.name__20a53 {
  color: var(--azurite-sec);
}

.label-2gNW3x {
  color: var(--azurite-bg);
}

.numberBadge__40d6f,
.mention__3b95d,
.theme-dark .elevationHigh__08882 {
  background-color: var(--azurite-sec) !important;
  color: var(--azurite-bg);
}

.item__58105 {
  background-color: var(--azurite-sec);
}

.scroller__629e4 {
  border-top: 1px solid var(--azurite-sec);
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
}

.headerText_c19a55>span::before {
  content: '';
  width: calc(100% + 7px);
  height: 100%;
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  margin-top: 0px;
  z-index: -1;
  margin-left: -3px;
}

.headerText_c19a55>span {
  margin-left: 3px;
}

.emojiItem_fc7141.emojiItemSelected_fc7141 {
  background-color: var(--azurite-bg);
}

.interactive-1vLZ_I:focus-within,
.interactive-1vLZ_I:hover,
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.tabBar__133bf .item__133bf,
.tabBody__133bf,
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
  background-color: var(--azurite-bg2);
  color: var(--azurite-sec);
}

.discrimBase-1VOoau,
.theme-dark .newPopoutActivityStyles .activityName__2ef49,
.theme-dark .newPopoutActivityStyles .content__2ef49,
.theme-dark .newPopoutActivityStyles .details__2ef49,
.theme-dark .newPopoutActivityStyles .name__2ef49,
.theme-dark .newPopoutActivityStyles .nameNormal__2ef49,
.theme-dark .newPopoutActivityStyles .nameWrap__2ef49,
.theme-dark .newProfileActivityStyles .activityName__2ef49,
.theme-dark .newProfileActivityStyles .content__2ef49,
.theme-dark .newProfileActivityStyles .details__2ef49,
.theme-dark .newProfileActivityStyles .name__2ef49,
.theme-dark .newProfileActivityStyles .nameNormal__2ef49,
.theme-dark .newProfileActivityStyles .nameWrap__2ef49,
.theme-light .newPopoutActivityStyles .activityName__2ef49,
.theme-light .newPopoutActivityStyles .content__2ef49,
.theme-light .newPopoutActivityStyles .details__2ef49,
.theme-light .newPopoutActivityStyles .name__2ef49,
.theme-light .newPopoutActivityStyles .nameNormal__2ef49,
.theme-light .newPopoutActivityStyles .nameWrap__2ef49,
.theme-light .newProfileActivityStyles .activityName__2ef49,
.theme-light .newProfileActivityStyles .content__2ef49,
.theme-light .newProfileActivityStyles .details__2ef49,
.theme-light .newProfileActivityStyles .name__2ef49,
.theme-light .newProfileActivityStyles .nameNormal__2ef49,
.theme-light .newProfileActivityStyles .nameWrap__2ef49 {
  color: var(--azurite-links);
}

.profileBannerPreview-3mLIdO {
  border-left: 1px solid var(--azurite-sec);
  border-bottom: 1px solid var(--azurite-sec);
  border-right: 1px solid var(--azurite-sec);
  border-top: 1px solid var(--azurite-sec);
}

.popoutInfo-16MuYF {
  background-color: var(--azurite-bg);
}

.iconWrapper__9293f,
.title-3aDrFs,
.headerCellContent__5fe04,
.title-2dsDLn {
  color: var(--azurite-sec);
}

.resultsGroup__56fec {
  background-color: var(--azurite-bg2);
  color: var(--azurite-sec);
}

.theme-dark .option__56fec:after {
  background: transparent;
}

.theme-dark .searchOption-3u1yGrT .filter__56fec,
.theme-dark .searchOption-3u1yGrT .answer__56fec,
.resultsGroup__56fec .header__56fec {
  color: var(--azurite-sec);
  font-weight: bold;
}

.theme-dark .option__56fec .filter__56fec,
.theme-dark .option__56fec .answer__56fec,
.theme-dark .option__56fec .nonText__56fec {
  color: var(--azurite-sec);
  font-weight: bold;
}

#SEARCH_OPTIONS-header.header__56fec,
#HISTORY-header.header__56fec {
  color: var(--azurite-sec);
}

#app-mount .container__55c99 .option__56fec.selected-rZcOL- {
  background-color: var(--azurite-bg);
}

.option__56fec strong {
  color: var(--azurite-sec);
}

.message__02a39 .messageContent_c19a55,
.username_c19a55 {
  color: var(--azurite-sec);
}

.cozy_c19a55 .timestamp_c19a55 {
  color: var(--azurite-links);
}

.searchBar__97492 {
  background-color: var(--azurite-sec) !important;
}

.secondary__45d4f,
.secondary__45d4f:hover:not(.disabled__4d064),
.closeButton__95796,
.lookFilled-yCfaCM.colorPrimary-2AuQVo,
.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover,
.unread__3b95d {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.header_e8b59c,
.messagesPopout_e8b59c,
.header_d9c882 {
  background-color: var(--azurite-sec);
}

.list_c441f0 {
  background-color: var(--azurite-sec);
}

.messageGroupWrapper_e8b59c .messageGroupCozy_e8b59c {
  background-color: var(--azurite-bg);
}

.messageGroupWrapper_e8b59c .messageContent_c19a55,
.filename__0ccae,
.size__0ccae,
.cancelButton__0ccae,
.downloadButton__3fb6d {
  color: var(--azurite-sec);
}

.closeIcon_d9c882,
.threadIcon_d9c882 {
  color: var(--azurite-bg);
}

.content__908e2,
.isUnread__908e2 .content__908e2 {
  background-color: var(--azurite-bg);
  color: var(--azurite-sec);
}

.unreadPillCapStroke__908e2 {
  color: var(--azurite-sec);
  fill: var(--azurite-sec);
}

.wrapper__2ea32.modeUnreadImportant__2ea32 .wrapper__2ea32 .mainContent-20q_Hp .icon__2ea32 {
  color: var(--azurite-links);
}

.contentRegionScroller__23e6b {
  background-color: var(--azurite-bg) !important;
}

.sidebar__23e6b {
  background-color: var(--azurite-bg);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
  background-color: var(--azurite-bg2);
  color: var(--azurite-sec);
}

.background__1fed1,
.fieldList__1fed1 {
  background-color: var(--azurite-bg);
}

.background__1fed1 {
  border-top: 1px solid var(--azurite-sec);
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
  border-bottom: 1px solid var(--azurite-sec);
}


.changePasswordButton__2666b {
  color: var(--azurite-links);
}

.username__05e81,
.discriminator__1fed1,
.overflowMenuIcon__1fed1 {
  color: var(--azurite-sec);
}

.field__1fed1>div>div>div {
  filter: blur(5px);
}

.field__1fed1>div>div>div:hover {
  filter: blur(0);
}

.closeButton_c2b141,
.keybind_c2b141 {
  color: var(--azurite-sec);
  border-color: var(--azurite-sec);
}

.bd-sidebar-header .bd-icon:hover,
.bd-sidebar-header .bd-icon {
  fill: var(--azurite-sec);
}

.header-2Kx1US,
.line__2debe,
.colorMuted-20987_ {
  color: var(--azurite-links);
}

.colorDefault-CDqZdO,
.label-2gNW3x,
.item-3XjbnG .themed-2-lozF {
  color: var(--azurite-bg);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
  background-color: var(--azurite-links);
  color: var(--azurite-bg);
}

.accountProfileCard__1fed1 {
  border-radius: 5px;
  background-color: var(--azurite-bg);
}


.message__5126c.mentioned__5126c.selected__5126c,
.mouse-mode.full-motion .mentioned__5126c:hover,
.mentioned__5126c {
  background-color: var(--azurite-bg2);
}

.upload_aa605f,
.fileWrapper__0ccae {
  border-color: var(--azurite-bg2);
  background-color: var(--azurite-bg2);
}

.automodMessage__5126c:before,
.ephemeral__5126c:before,
.mentioned__5126c:before,
.replying__5126c:before {
  background-color: var(--azurite-links);
}

.isUnread__908e2 {
  border-color: var(--azurite-sec);
}

.base-21yXnu.muted-eZM05q,
.activityText__972a0,
.embedAuthorName__623de,
.embedFieldName__623de,
.embedTitle__623de,
.embedDescription__623de,
.embedFieldValue__623de,
.embedFooterText__623de {
  color: var(--azurite-sec);
}

.wrapper_cdf8a9,
.attachmentContainer_fc8177,
.cozy_fc8177.wrapper_fc8177 {
  background-color: var(--azurite-bg);
}

.wrapper_cdf8a9 {
  display: none;
}

.theme-dark .container__37e49,
.layout__91a9d {
  background-color: var(--azurite-bg);
}

.theme-dark .scroller_ef3116 {
  background-color: var(--azurite-bg);
}

.jumpButton_aab0bc {
  background-color: var(--azurite-sec);
}

.iconBadge__9293f {
  background-color: var(--azurite-links);
}

.jumpButton_ed0c8c:hover .text_ed0c8c,
.jumpButton_ed0c8c .text_ed0c8c {
  color: var(--azurite-bg);
}

.closeButton__95796:hover {
  background-color: var(--azurite-bg);
}

.button__353c4 {
  color: var(--azurite-bg);
}

.categoryIconm_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c .categoryIcon_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c:hover .categoryIcon_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c:hover,
.categoryIcon_b9ee0c {
  color: var(--azurite-bg);
  background-color: var(--azurite-sec);
}

.text__19b6d {
  color: var(--azurite-links);
}

.navButton__08434,
.unicodeShortcut_b9ee0c {
  color: var(--azurite-bg);
}

.navButtonActive__08434 {
  background-color: var(--azurite-bg);
  color: var(--azurite-sec);
}

.scroller__4a84a,
.header_adb41f {
  background-color: var(--azurite-bg);
}

.input__48d49::placeholder {
  color: var(--azurite-bg);
}

.customStatus-3XAoF9,
.UserDetails-connections-header {
  color: var(--azurite-sec);
}



.scroller_fb04e1 {
  background-color: var(--azurite-bg);
}

.discriminator__0a06e,
.sub_0a06ed6ea040aa1b-text,
.nameCellText_adb41f,
.textCell_adb41f {
  color: var(--azurite-sec);
}

.actionButton_f8fa06,
.actionButton_f8fa06:hover,
.actionButton_f8fa06.highlight_f8fa06 {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.header_ab6641,
.messageContainer__95796 {
  background-color: var(--azurite-bg);
}

.scroller__95796,
.channelHeader__35a7e {
  background-color: var(--azurite-sec);
}

.subtext__339d0,
.title_d1da5f,
.textScroller-dc9_kz,
.colorStandard-21JIj7,
.icon__07f91,
.username__07f91,
.name__2ea32,
.name_f37cb1,
.colorInteractiveActive-30E9n8,
.colorInteractiveNormal-36ZhyZ,
.count_eff079,
.activityText__5d473,
.activity-icon {
  color: var(--azurite-links);
}

#bd-pub-button,
#bd-pub-button:hover,
.button-Jt-tIg {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15 {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.clickable__91a9d:hover .layout__91a9d {}

.role_dfa8b6 {
  background-color: var(--azurite-bg2);
}

.textarea_dde0a8:focus {
  background-color: var(--azurite-sec);
}

.roleName__48c1c {
  color: var(--azurite-sec);
}

.iconBadge__650eb.participating-2Z81oO {
  color: var(--azurite-bg);
  background-color: var(--azurite-sec);
}

.button_e131a9.buttonColor_e131a9,
.button_e131a9 .buttonColor_e131a9,
.button_e131a9.buttonColor_e131a9:hover,
.button_e131a9 .buttonColor_e131a9:hover,
.clickable_f37cb1 .header_f37cb1:hover,
.selected_f37cb1 .header_f37cb1 {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.theme-dark .searchAnswer_bd8186,
.theme-dark .searchFilter_bd8186 {
  background-color: var(--azurite-bg);
  color: var(--azurite-sec);
}

.searchHeader_f3b986 {
  background-color: var(--azurite-bg);
}

.scroller_a9e706,
.channelName-3w2Y3c {
  background-color: var(--azurite-sec);
}

.message__02a39 {
  background-color: var(--azurite-bg);
}

.colorHeaderPrimary-jN_yGr {
  color: var(--azurite-sec);
}

.channelName-3w2Y3c {
  color: var(--azurite-bg);
}

.theme-dark .activeButton-LRWFC_,
.theme-dark .activeButton-LRWFC_:hover,
.theme-light .activeButton-LRWFC_,
.theme-light .activeButton-LRWFC_:hover {
  color: var(--azurite-sec);
  background-color: var(--azurite-bg);
}

.pageButton-1GMGeJ,
.clear_fea832 .icon_fea832,
.clear_fea832.iconLayout_fea832:hover .icon_fea832 {
  color: var(--azurite-bg);
}

.pageButton-1GMGeJ:hover {
  background-color: var(--azurite-bg);
  color: var(--azurite-sec);
}

.brand-3g5E0C.item-3XjbnG {
  color: var(--azurite-bg);
}

.side-2ur1Qk .item-3XjbnG {
  color: var(--azurite-sec);
}

.subtitle-3m-md1,
.title-1_TkpU,
.header__00de6,
.description__00de6 {
  color: var(--azurite-sec);
}

.container-x8Y1ix {
  background-color: var(--azurite-bg2);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM,
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--azurite-sec);
}

.bioTextArea__6a919 {
  background-color: var(--azurite-sec);
}

.editor__1b31f,
.subEnabledTitle-2YpsZq,
.connectionHeader_c7f964 .connectionAccountValue_c7f964,
.connectionDelete_c7f964,
.marketingRefreshDescription-2_tCTt,
.marketingRefreshTier1Logo-38ksW_,
.marketingRefreshSubtitle-17I8Dd,
.marketingRefreshTitle-UaHKpk,
.descriptionStandalone__8542d,
.marketingLogoIcon__3b418,
.sectionDescription_e335a7,
.cardText_e335a7,
.cardText__70151,
.accountCreditDescription__70151,
.theme-dark .subText__0eeee,
.theme-light .subText__0eeee {
  color: var(--azurite-sec);
}

.theme-dark .feature-2IUcBI,
.card__11580,
.card__11580:hover,
.noItemsCard_e335a7,
.noItemsCard__70151,
.form-2CaJzg,
.theme-dark .addGamePopout_cc46f0 {
  background-color: var(--azurite-bg2);
}

.theme-dark .notDetected_cc46f0,
.theme-light .notDetected_cc46f0 {
  background-color: var(--azurite-bg2);
}

.gameName_cc46f0,
.lastPlayed_cc46f0,
.sendIcon_aa63ab {
  color: var(--azurite-sec);
}

.wrapper__44df5 {
  background-color: var(--azurite-links);
}

.preview__3e443 {
  background-color: var(--azurite-bg2);
  border-color: var(--azurite-sec);
}

.lookFilled-1GseHa.select-1Ia3hD,
.popout-1KHNAq {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.deviceOptionLabel-iFH7Qi {
  color: var(--azurite-bg);
}

.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN {
  color: var(--azurite-bg);
  background-color: var(--azurite-sec);
  -webkit-box-shadow: inset 0 -4px 0 var(--azurite-sec);
}

.jumpToPresentBar__0f481 {
  background-color: var(--azurite-sec);
}


.theme-dark .codeRedemptionRedirect_a706ba {
  color: var(--azurite-sec);
  background-color: var(--azurite-bg);
  border-color: var(--azurite-sec);
}

.radioBar-3w9XY- {
  background-color: var(--azurite-bg2);
}

.text-sm-normal-3Zj3Iv,
.sectionTitle-3j2YI1,
.name__841c8,
.closeIcon_e876a8,
.mentionButton__841c8 {
  color: var(--azurite-sec);
}

.accountBtn-3pgcgr .accountBtnInner-3ttD-i {
  background-color: var(--azurite-sec);
}

.accountList-Wii_T5,
.connectionHeader_c7f964,
.connectionOptionsWrapper_c7f964 {
  background-color: var(--azurite-bg2);
}

.title-1yyp9V,
.item-2idW98[aria-checked=true],
.item-2idW98[aria-checked=false] {
  color: var(--azurite-bg);
}

.fakeLink_ada32f {
  color: var(--azurite-bg2);
}

.akaBadge__27cd4 {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.header_f37cb1 {
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
}

.modeMuted__2ea32 .icon__2ea32,
.modeMuted__2ea32 .name__2ea32 {
  color: var(--azurite-links);
}

.wrapper__6e9f8[data-list-item-id="guildsnav___home"] .childWrapper__6e9f8 {
  background: var(--azurite-home-icon) center/cover no-repeat;
  min-width: 50px;
  min-height: 50px;
}

.wrapper__6e9f8[data-list-item-id="guildsnav___home"] .childWrapper__6e9f8 svg {
  display: none;
}

.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
  color: var(--azurite-links);
}

.grid__623de {
  background-color: var(--azurite-bg2);
}

.sidebarRegionScroller__23e6b {
  background-color: var(--azurite-bg) !important;
}

.headerText_aa8da2,
.sidebar__23e6b .side_aa8da2 .item_aa8da2,
.bd-sidebar-header h2 {
  color: var(--azurite-sec) !important;
}


.wrapper-1VLyxH foreignObject,
.callAvatarMask_f910d0 foreignObject,
.avatarContainer__183c2 foreignObject {
  mask: none;
}

.wrapper-1VLyxH,
.avatar_c19a55,
.profile_d6fbe8 .avatarUploaderInner-yEhTv5,
.voiceAvatar_f910d0,
.avatar__07f91,
.border_f910d0,
.avatar__183c2,
.clickableAvatar__183c2,
.emptyUser__183c2,
.avatar-b5OQ1N,
.wrapper_f910d0.ringingIncoming_f910d0::after,
.wrapper_f910d0.ringingOutgoing_f910d0::after,
.replyAvatar_c19a55,
.avatarSpeaking-33RRJU,
.avatar-2EVtgZ,
.avatarContainer-3tBLDx,
.appAvatar-2_lufo,
.icon__11cf1 {
  border-radius: var(--avatar-radius);
}

.svg-2zuE5p>mask {
  display: none;
}

.icon__11cf1,
.circleIconButton-jET_ig,
.hiddenVisually_b18fe2,
.folderPreviewWrapper__48112,
.childWrapper_a6ce15,
.circleIconButton__5bc7e,
.homeIcon__560eb {
  border-radius: var(--server-radius);
}

.attachButton__0923f:hover .attachButtonPlus__0923f {
  fill: var(--azurite-links);
}

.button__24af7:hover {
  color: var(--azurite-links);
}

.channelTextArea__74017.slateTextArea_ec4baf span {
  color: var(--azurite-bg);
}

.scroller-3j5xK2,
.sidebar__5e434 {
  background-color: var(--azurite-sec);
}

.textContent__00943 {
  color: var(--azurite-bg) !important;
}

.theme-dark .card_e90879,
.theme-dark .iconMask_e90879,
.theme-dark .card_e90879:hover {
  background-color: var(--azurite-bg2);
}

.replyBar__841c8 {
  background-color: var(--azurite-bg);
}

.categoryItem_c72b37.selectedCategoryItem_c72b37 .itemInner_c72b37 {
  background-color: var(--azurite-links);
}

.guildName_e90879 {
  color: var(--azurite-sec);
}

.wrappedName__91a9d,
.layout__91a9d {
  color: var(--azurite-sec);
  background: transparent;
}


.hiddenVisually_b18fe2,
.hiddenVisually_b18fe2:hover {
  background-color: var(--azurite-bg);
}

.folderGroupBackground__48112 {
  background-color: var(--azurite-bg2);
}

.typeWindows__421ed {
  position: relative;
  background-color: var(--azurite-bg);
  border-top: 1px solid var(--azurite-sec);
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
}

.winButtons_c38106 {
  color: var(--azurite-sec);
}

.brand-3g5E0C.item-3XjbnG,
.themed-2-lozF.item-3XjbnG,
.brand-3g5E0C.item-3XjbnG,
.themed-2-lozF.item-3XjbnG,
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
  color: var(--azurite-sec);
  border-bottom-color: #24CC89;
}

button[aria-label="Send a gift"] {
  display: none;
}

.channelName-3KPsGw,
.icon__2ea32,
.modeSelected__2ea32 .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32,
.modeUnreadImportant__2ea32 .icon__2ea32,
.modeUnreadImportant__2ea32:hover .icon__2ea32,
.actionIcon_c69b6d,
.actionIcon_c69b6d:hover,
.addButtonIcon__29444,
.addButtonIcon__29444:hover,
.icon__29444,
.wrapper__29444.muted__29444:hover .icon__29444,
.wrapper__29444.muted__29444:hover .name__29444,
.wrapper__29444:hover .icon__29444,
.wrapper__29444:hover .name__29444,
.title__9293f,
.icon__9293f,
.button__67645,
.button__67645.enabled__67645:hover,
.clickable__9293f .icon__9293f,
.clickable__9293f:hover .icon__9293f {
  color: var(--azurite-sec);
}

.overflow_b0dfc2,
.friendsOnline-2JkivW,
.label-2wRs_g,
.overflow_b0dfc2:hover,
.friendsOnline-2JkivW:hover,
.label-2wRs_g:hover {
  color: var(--azurite-links);
}

.circleIconButton__5bc7e {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.circleIconButton__5bc7e.selected__5bc7e {
  background-color: var(--azurite-bg);
  color: var(--azurite-sec);
}


.privateChannels_e6b769 [href="/store"] {
  display: none;
}


@media (max-width:700px) {
  .guilds__5e434 {
    width: 56px;
    margin-bottom: 55px;
  }

  .guilds__5e434 .wrapper__58105 {
    height: calc(56px * 0.625);
  }

  .guilds__5e434 .wrapper__58105 span {
    max-height: calc(56px * 0.375);
  }

  .guilds__5e434 div[style*='height: 56px'],
  .guilds__5e434 [role='group'] {
    height: auto !important;
  }

  .guilds__5e434 .listItem-GuPuDH,
  .guilds__5e434 [class*='unreadMentionsIndicator'],
  .guilds__5e434 .wrapper-3Njo_c {
    width: 100%;
  }

  .guilds__5e434 .wrapper-28eC3z,
  .guilds__5e434 [class*='guildsError-'],
  .guilds__5e434 svg[width='48'] {
    width: calc(56px * 0.625);
    height: calc(56px * 0.625);
  }

  .guilds__5e434 .wrapper-3Njo_c>span {
    left: calc(56px * 0.175);
    width: calc(56px * 0.625);
  }

  .guilds__5e434 #bd-pub-button {
    height: calc(56px * 0.375);
    line-height: calc(56px * 0.375);
    font-size: 10px;
  }

  .listItem__650eb {
    width: 56px;
  }

  .folderGroupBackground__48112 {
    left: calc(56px * 0.2);
    width: calc(56px * 0.625);
  }
}

.defaultColor-24IHKz,
.text-md-normal-304U3g,
.sampleLink-5BWNy9 {
  color: var(--azurite-sec) !important;
}

.rowContainer-3t7486 {
  background-color: var(--azurite-bg);
}

.scroller__99e7c {
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
}

.searchBar_e6b769 {
  border-right: 1px solid var(--azurite-sec);
  border-left: 1px solid var(--azurite-sec);
}

.icon__9293f,
.title__9293f,
.icon_a45028,
.buttonWrapper__24af7 svg {
  color: var(--azurite-sec) !important;
}

.sprite__04eed.spriteGreyscale__04eed.inactive__04eed {
  background-color: var(--azurite-sec);
}

.theme-dark .themed__9293f {
  background: var(--azurite-bg);
}

.children__9293f::after {
  background: var(--azurite-bg) !important;
}


.container_e131a9 {
  background: var(--azurite-bg);
}

.lookFilled__201d5 .contents__201d5 .lottieIcon__5eb9b.buttonIcon_e131a9 {
  --__lottieIconColor: var(--azurite-bg) !important;
}


.button__201d5 .contents__201d5 .lottieIcon__5eb9b {
  color: var(--azurite-sec) !important;
}

.footer__214dc {
  background: var(--azurite-bg);
}


.panels__5e434,
.activityPanel__5e434 {
  background: var(--azurite-bg) !important;
}

.reminder-button {
  background-color: var(--azurite-sec) !important;
  color: var(--azurite-bg) !important;
}

.headerContent_f37cb1 .name_f37cb1 {
  color: var(--azurite-sec);
}

.mention,
.channelMention {
  background: var(--azurite-sec) !important;
  color: var(--azurite-bg) !important;
}

.mentioned__5126c {
  background-color: color-mix(in srgb, var(--azurite-sec) 40%, transparent) !important;
}

.popoverReactionHoverBar_f84418 {
  background: var(--azurite-sec) !important;
}

.header__095fe,
.membersGroup_c8ffbb {
  color: var(--azurite-sec) !important;
}

.member__5d473 {
  background-color: var(--azurite-bg) !important;
}

.container__0f2e8.openOnHover__0f2e8 {
  background: var(--azurite-bg2);
}

button.button__67645 .lottieIcon__5eb9b svg path {
  fill: var(--azurite-sec) !important;
}

.container__5e434 {
  background: var(--azurite-bg) !important;
}

.content__37e49 {
  background: var(--azurite-bg) !important;
}

.title_c38106 .defaultColor__4bd52 {
  color: var(--azurite-sec);
}

.content_f75fb0 {
  background: var(--azurite-bg);
}

.container__0f2e8.openOnHover__0f2e8 {
  background: var(--azurite-bg2);
}

.visual-refresh .sidebar__5e434:after {
  height: 70px;
  right: 0px;
}

.visual-refresh .themed_aa8da2.item_aa8da2 {
  color: var(--azurite-sec);
}

.circleIconButton__5bc7e:hover {
  background: var(--azurite-sec) !important;
  color: var(--azurite-bg);
}

.nameTag__37e49 .title_b6c092,
.nameTag__37e49 .subtext__339d0 {
  color: var(--azurite-sec);
}

.menu_c1e9c4 {
  background-color: var(--azurite-bg2);
}

.menu_c1e9c4 .label_c1e9c4,
.menu_c1e9c4 .iconContainer_c1e9c4 svg {
  color: var(--azurite-sec);
}

.visual-refresh .sidebar__5e434:after {
  background: var(--azurite-bg) !important;
}

.sidebarResizeHandle__5e434,
.contentRegion__23e6b {
  background-color: var(--azurite-bg) !important;
}

.button__201d5 .contents__201d5 {
  color: var(--azurite-sec);
}

.title__85643 svg path {
  fill: var(--azurite-sec) !important;
}


.visual-refresh section.panels__5e434 {
  margin-left: var(--custom-guild-list-width);
  width: calc(100% - var(--space-xs)*2 - var(--custom-guild-list-width)) !important;
}


.visual-refresh .container__2637a,
.visual-refresh .scroller__99e7c,
.visual-refresh .privateChannels_e6b769 {
  background-color: var(--azurite-bg);
}


.listItem__650eb,
.folderGroup__48112 {
  width: 100%;
  justify-content: center;
}

.full-motion .container_faa96b,
.selected_bf202d {
  background-color: var(--azurite-bg2);
}

.button__201d5 .contents__201d5,
.icon__29444,
.name__29444 {
  color: var(--azurite-sec);
}

.headerText_faa96b .postTitleText_faa96b {
  color: var(--azurite-sec) !important;
}

.visual-refresh .mainCard_f369db {
  border: 2px solid var(--azurite-sec);
  background-color: var(--azurite-bg2);
}

.inner_c0bea0 {
  background-color: var(--azurite-bg2);
}

.username_c19a55,
.userTagUsername__63ed3,
.pronounsText__63ed3,
.tagText__10651 {
  color: var(--azurite-sec);
}

.dotSpacer__63ed3 {
  background-color: var(--azurite-sec);
}

.visual-refresh .cozy_c19a55 .timestamp_c19a55,
.user-profile-popout .nickname__63ed3,
.user-profile-sidebar .nickname__63ed3,
.userTagDiscriminator__63ed3 {
  color: var(--azurite-sec);
}

.user-profile-sidebar .overlay_c0bea0 {
  background-color: var(--azurite-bg);
}

.user-profile-sidebar .overlay_c0bea0 .defaultColor__5345c {
  color: var(--azurite-sec) !important;
}

.user-profile-sidebar .overlay_c0bea0 .defaultColor__4bd52 {
  color: var(--azurite-links);
}

.overlay_c0bea0 .header__1f6ca svg path {
  fill: var(--azurite-sec) !important;
}

.lottieIconColors__5eb9b :not(defs *)[stroke][stroke-opacity] {
  stroke: var(--azurite-sec) !important;
}


.panels__5e434 {
  margin-left: 70px;
  background-color: var(--azurite-bg);
  border: none;
}

.sidebar__5e434:after,
.searchBar_e6b769 {
  background: var(--azurite-bg);
  border: none;
}

.button__67645[aria-label="User Settings"] {
  margin-right: 15px;
}

.clickable_c99c29,
.lottieIcon__5eb9b {
  color: var(--azurite-sec);
}

.spriteGreyscale__04eed {
  background-color: var(--azurite-sec);
}

.itemsContainer_ef3116 {
  background: var(--azurite-bg);
}

.sidebar_c48ade,
.sidebar_c48ade:after,
.panels_c48ade {
  background: var(--azurite-bg) !important;
}

.modal_e44912,
.modal_e44912 .content_e9e3ed,
.contentHeader_e9e3ed {
  background: var(--azurite-bg) !important;
  color: var(--azurite-sec);
}

.modal_e44912 .itemContent_caf372, .subnav_e4d939 .item_e4d939 {
  color: var(--azurite-sec);
}

.modal_e44912 .heading-xl\/normal_cf4812, .modal_e44912 .label__5a838, .modal_e44912 .defaultColor__5345c, .guidelinesHeader_ca49a1 {
  color: var(--azurite-sec) !important;
}

.content_d125d2, .grid_f369db, .list_f369db, .container_ca49a1 {
  background: var(--azurite-bg) !important;
}

.pill_a2c9e8, .primary_a22cb0 {
  background-color: var(--azurite-sec);
  color: var(--azurite-bg);
}

.innerBottomRowAction__34940 svg path, .modInfoItemIcon__96c0b svg path {
  fill: var(--azurite-sec) !important;
}

.modInfoItemName__96c0b .text-sm\/medium_cf4812, .modInfoItemName__96c0b .text-sm\/semibold_cf4812, .headerTitle__3a5a1, .headerTitle__3a5a1 .heading-md\/semibold_cf4812 {
  color: var(--azurite-sec) !important;
}


::-webkit-scrollbar {
  width: 4px !important;
  height: 8px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border-color: transparent !important;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  border: none !important;
  background-clip: content-box !important;
  background: var(--azurite-sec) !important;
}

::-webkit-scrollbar-corner {
  visibility: hidden !important;
}

.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-corner,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-track {
  display: none !important;
}

::selection {
  background-color: var(--azurite-links);
  color: var(--azurite-bg);
}
