@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root {
  --rosynight-app-bg: #fc8686;
  --rosynight-bg: #181818;
  --rosynight-bg2: #212121;
  --rosynight-main: #fc8686;
  --rosynight-main2: #f3aeae;
  --rosynight-message-color: #f3aeae;
  --watermark-filter-invert: 78%;
  --watermark-filter-sepia: 46%;
  --watermark-filter-saturate: 536%;
  --watermark-filter-hue-rotate: 310deg;
  --watermark-filter-brightness: 150%;
  --watermark-filter-contrast: 88%;  
}

#app-mount .baseLayer__960e4 {
  opacity: 1 !important;
  transform: unset !important;
  will-change: unset !important;
}

#app-mount .stop-animations * {
  transition-property: inherit !important;
  animation: inherit !important;
}

#app-mount .layer__960e4.stop-animations:first-child::after {
  content: "" !important;
  position: fixed !important;
  background: rgb(0, 0, 0) !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0.85 !important;
  z-index: 999 !important;
  pointer-events: none !important;
}

#app-mount .layer__960e4~.layer__960e4 {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: transparent !important;
  border-radius: 5px !important;
  box-shadow: var(--elevation-high) !important;
  width: 960px !important;
  height: 80vh !important;
  margin: auto !important;
  padding: 0 !important;
  overflow: hidden !important;
  contain: unset !important;
  z-index: 1000 !important;
}

#app-mount .layer__960e4~.layer__960e4>div,
#app-mount .layer__960e4~.layer__960e4 .standardSidebarView__23e6b {
  position: static !important;
  border-radius: unset !important;
  width: 100% !important;
  height: 100% !important;
  margin: unset !important;
  padding: unset !important;
  overflow: hidden !important;
}

#app-mount .layer__960e4~.layer__960e4 .sidebar__23e6b {
  width: 218px !important;
  padding: 20px 6px 20px 20px !important;
}

#app-mount .layer__960e4~.layer__960e4 .contentColumnDefault__23e6b {
  padding: 20px 40px !important;
}

#app-mount .layer__960e4~.layer__960e4 .sidebar_e29cd7 {
  height: 80vh !important;
}

#app-mount .layer__960e4~.layer__960e4 .repoHeader-2KfNvH {
  max-width: calc(960px - 256px) !important;
  ;
}

#app-mount .layer__960e4~.layer__960e4 .standardSidebarView__23e6b .editor {
  height: calc(80vh - 120px) !important;
}

#app-mount .layer__960e4~.layer__960e4 .toolsContainer__23e6b,
#app-mount .layer__960e4~.layer__960e4 .toolsContainer__23e6b .tools__23e6b,
#app-mount .layer__960e4~.layer__960e4 .toolsContainer__23e6b .container_c2b141,
#app-mount .layer__960e4~.layer__960e4 .toolsContainer__23e6b .closeButton_c2b141 {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  width: 100% !important;
  max-width: unset !important;
  height: 100% !important;
  max-height: unset !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
  cursor: default !important;
}

#app-mount .layer__960e4~.layer__960e4 .toolsContainer__23e6b {
  position: fixed !important;
  top: 22px !important;
  z-index: -1 !important;
}

#app-mount .layer__960e4~.layer__960e4 .settingsToolbar-wu4yfQ {
  display: none !important;
}

#app-mount .layer__960e4~.layer__960e4 .header-2Kx1US {
  max-width: calc(960px - 730px) !important;
}

#app-mount .root__5c9fc {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: var(--settingsmodalbackground) !important;
  border-radius: 5px !important;
  box-shadow: var(--elevation-high) !important;
  width: 960px !important;
  height: 80vh !important;
  margin: auto !important;
  padding: 0 !important;
  overflow: hidden !important;
  contain: unset !important;
  z-index: 1000 !important;
}

#app-mount .root__5c9fc.enterDone__5c9fc {
  transform: unset !important;
}

#app-mount .perksModal-CLcR1c {
  position: static !important;
  border-radius: unset !important;
  width: 100% !important;
  height: 100% !important;
  margin: unset !important;
  padding: unset !important;
}

#app-mount .perksModal-CLcR1c::before {
  width: 960px !important;
  height: 80vh !important;
  margin: auto !important;
}

#app-mount .perksModalContentWrapper-3RHugb {
  padding: 10px 0 10px !important;
}

#app-mount .root__5c9fc .perksModal-CLcR1c .carousel-3dvee9 {
  margin-left: calc(-0.5 * (100vw - 960px)) !important;
}

#app-mount .root__5c9fc .closeWrapper-1aVqeP,
#app-mount .root__5c9fc .closeWrapper-1aVqeP .closeContent-1uXQiy,
#app-mount .root__5c9fc .closeWrapper-1aVqeP .container_c2b141,
#app-mount .root__5c9fc .closeWrapper-1aVqeP .closeButton_c2b141 {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  width: 100% !important;
  max-width: unset !important;
  height: 100% !important;
  max-height: unset !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
  cursor: default !important;
}

#app-mount .root__5c9fc .closeWrapper-1aVqeP {
  position: fixed !important;
  top: 22px !important;
  z-index: -1 !important;
}

#app-mount .container__133bf,
.app__160d8,
.bg__960e4,
.chat_f75fb0,
.content__908e2,
.contentRegionScroller__23e6b,
.layer__960e4,
.members_c8ffbb>div,
.scroller__99e7c,
.applicationStore_f07d62,
.scroller_ff90b2,
.sidebar__5e434,
.standardSidebarView__23e6b,
.wrapper_fc8177,
.wrapper_ef3116,
.wrapper-22ayhK,
body {
  background: 0 0;
}

.container__2637a,
.members_c8ffbb,
.nowPlayingColumn__133bf,
.privateChannels_e6b769,
.sidebar__5e434>.scrollerBase-_bVAAt,
.sidebarRegionScroller__23e6b {
  background: rgba(47, 49, 54, var(--sides-transp));
}

.panels__5e434 {
  background: rgba(41, 43, 47, var(--sides-transp));
}

.scroller_ef3116,
.withFrame__421ed {
  background: rgba(32, 34, 37, var(--sides-transp));
}

.scroller__244e5,
#app-mount .pageWrapper_a3a4ce,
.chatContent_f75fb0,
.contentRegion__23e6b,
.header-6h98Y_::after,
.peopleColumn__133bf,
.stickyHeader-hH_ZLl::after,
.titleContainer_e29cd7::after {
  background: rgba(54, 57, 63, var(--chat-transp));
}

.container__9293f.themed__9293f {
  background: rgba(54, 57, 63, var(--sides-transp));
}

.container__9293f.themed__9293f,
.members_c8ffbb,
.nowPlayingColumn__133bf,
.scroller_ef3116,
.sidebar__5e434,
.sidebarRegionScroller__23e6b,
.withFrame__421ed {
  backdrop-filter: blur(var(--sides-blur));
}

#app-mount .children__9293f:after,
#app-mount .form_f75fb0:before {
  display: none;
}

.app__160d8 .layers__960e4 {
  margin: 18px;
  border-radius: 6px;
  box-shadow: 0px 1px 8px var(--rosynight-bg);
  background-color: var(--rosynight-bg);
  -webkit-app-region: no-drag;
}


#account.menu_c1e9c4 {
  width: 220px;
}

#account.menu_c1e9c4 .submenu-1apzyU[aria-activedescendant^="account-status-picker"] {
  max-width: 220px;
}

#account.menu_c1e9c4 .profileGroup-1yKk23,
#account.menu_c1e9c4 .profileGroup-1yKk23+.separator-1So4YB {
  display: none;
}

.appMount__51fd7,
.bg__960e4, .directoryContainer_da3f59 {
  background-color: var(--rosynight-app-bg) !important;
}

.textContainer_e90143 {
  background-color: var(--rosynight-main2) !important;
}

.markup__75297 blockquote,
.markup__75297 pre {
  max-width: 100%;
}


.typeWindows__421ed .winButton__421ed>svg {
  display: none;
}

.typeWindows__421ed .winButton__421ed {
  background: none;
  top: 0;
  width: 12px;
  height: 12px;
  margin: 4px 12px 0px 0px;
}

.typeWindows__421ed .winButton__421ed:nth-child(2) {
  margin-right: 12px;
}

.typeWindows__421ed .winButton__421ed::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 12px;
  transition: 0.1s;
}

.typeWindows__421ed .winButtonClose__421ed::after {
  background-color: hsl(0, 50%, 50%) !important;
}

.typeWindows__421ed .winButtonMinMax__421ed:nth-child(3)::after {
  background-color: hsl(120, 50%, 50%) !important;
}

.typeWindows__421ed .winButtonMinMax__421ed:nth-child(4)::after {
  background-color: hsl(50, 50%, 50%) !important;
}

.typeWindows__421ed>div:hover::after {
  transform: scale(1.1);
}

.container__37e49 {
  container-type: normal;
}

#app-mount .guilds__5e434 .tree_ef3116 {
  outline: none !important;
}

#app-mount .panels__5e434>.container__37e49 .avatarWrapper__37e49 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-mount .panels__5e434>.container__37e49 .avatar__37e49 {
  width: 80px !important;
  height: 35px !important;
  margin-left: -70px;
}

.container__37e49 .avatar__37e49 .avatarDecorationContainer__44b0c {
  display: none;
}

#app-mount .nameTag__37e49 {
  display: none;
}

#app-mount .avatarWrapper__37e49:hover {
  background: transparent !important;
}

#app-mount .panels__5e434>.container__37e49 .avatarWrapper__37e49 {position: fixed;left: 20px;bottom: 35px;border-top: none;}

#app-mount .panels__5e434>.container__37e49 .avatar__37e49 {
  filter: drop-shadow(0 0 5px);
  color: var(--rosynight-main);
}


.avatarWrapper__37e49 .avatarDecoration__44b0c {
  display: none;
}

.avatarWrapper__37e49 .mask__44b0c.svg__44b0c {
  width: 55px;
  height: 55px;
  margin-left: -75px !important;
}

#app-mount .nameTag__37e49 {
  display: none;
}

.container__37e49 {
  background-color: var(--rosynight-bg) !important;
}

.panels__5e434 .avatarWrapper__37e49 {
    position: absolute;
}

.panels__5e434 {
  background-color: var(--rosynight-bg) !important;
  border: none;
}

.withTagAsButton_b2ca13:hover,
.withTagless_b2ca13:hover {
  background-color: var(--rosynight-bg);
}

.sidebar__5e434:after {
    background: var(--rosynight-bg) !important;
}

.icon__9293f {
  color: var(--rosynight-main) !important;
}

.membersGroup_c8ffbb {
  color: var(--rosynight-main);
}

.sidebar__5e434+div {
  background-color: var(--rosynight-bg);
}
.members_c8ffbb,
.membersWrap_c8ffbb, .container_c8ffbb {
	min-width: 60px;
	transition-duration: 500ms;
	transition-property: box-shadow, min-width, width;
	width: 60px;
	z-index: 10;
}

.members_c8ffbb:hover,
.membersWrap_c8ffbb:hover {
	min-width: 240px;
	width: 240px;
}

.membersWrap_c8ffbb {
	height: 100%;
	position: absolute;
	right: 0;
}

.membersWrap_c8ffbb:hover {
	box-shadow: 0 0 20px 10px #00000044;
}

.membersGroup_c8ffbb {
	height: 0;
	transition-duration: 500ms;
	transition-property: height;
}

.members_c8ffbb:hover .membersGroup_c8ffbb {
	height: 40px;
}

.container_c8ffbb,
#MemberCount,
.ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
  background: var(--rosynight-bg) !important;
}


.typeWindows__421ed {
  position: relative;
}

.winButtons_c38106 {
  color: var(--rosynight-main);
}

.side_aa8da2>:where([class^=bd-],[class*=-tab],:where([class*=-tab],[class^=bd-])+.separator_aa8da2,:nth-child(-n+12)) {
order: -1;
}

.icon__9293f,
.title__9293f,
.tabBar__133bf .item__133bf,
.brand-3g5E0C.item-3XjbnG:hover,
.themed-2-lozF.item-3XjbnG:hover,
.clickable__9293f .icon__9293f,
.clickable__9293f:hover .icon__9293f:hover,
.title__1472a,
.linkButtonIcon__972a0,
.name__91a9d,
.username__0a06e,
.text__19b6d,
.discriminator__0a06e,
.button__67645,
.button__67645.enabled__67645:hover,
.title_d1da5f,
.hovered__0263c,
.customStatus__37e49 {
  color: var(--rosynight-main);
}

.cozyMessage__5126c .contents_c19a55>.markup__75297:not(:empty, code) {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-message-color) !important;
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.markup__75297 h1, .markup__75297 h2, .markup__75297 h3, .markup__75297 h4, .markup__75297 h5, .markup__75297 h6 {
    color: var(--rosynight-message-color);
}

.childWrapper_a6ce15,
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15 {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}


.scrollableContainer__74017 {
  background-color: var(--rosynight-bg2);
}

.buttonWrapper__24af7 {
  color: var(--rosynight-main);
}

.buttonWrapper__24af7:hover {
  color: var(--rosynight-main2);
}

.visual-refresh .attachButton__0923f .attachButtonPlus__0923f {
  fill: var(--rosynight-main) !important;
}

.visual-refresh .attachButton__0923f .attachButtonPlus__0923f:hover {
  fill: var(--rosynight-main2) !important;
}

.standardSidebarView__23e6b {
  background: var(--rosynight-main2) !important;
}

.button_e131a9.buttonColor_e131a9,
.button_e131a9 .buttonColor_e131a9,
.button_e131a9.buttonColor_e131a9:hover,
.button_e131a9 .buttonColor_e131a9:hover {
  background-color: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

.subtext__339d0,
.usernameContainer__22048 {
  color: var(--rosynight-main);
}


.bd-sidebar-header .bd-icon,
.bd-sidebar-header .bd-icon:hover {
  fill: var(--rosynight-bg);
}

.accountProfileCard__1fed1 {
  background-color: var(--rosynight-bg);
}

.background__1fed1,
.fieldList__1fed1 {
  background-color: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

.fieldTitle__1fed1, .text-md\/normal_cf4812 {
  color: var(--rosynight-bg) !important;
}

.lookFilled__201d5.colorPrimary__201d5, .lookFilled__201d5.colorBrand__201d5 {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.lookFilled__201d5.colorPrimary__201d5:hover, .lookFilled__201d5.colorBrand__201d5:hover {
  background-color: var(--rosynight-bg2);
}

.lookLink__201d5.colorPrimary_dd4f8, .title_ace4f5, .heading-lg\/semibold_cf4812, .selected_aa8da2.item_aa8da2, .selected_aa8da2.item_aa8da2:hover, .themed_aa8da2.item_aa8da2, .brand_aa8da2.item_aa8da2 {
  color: var(--rosynight-bg);
}

.top_aa8da2 .brand_aa8da2.selected_aa8da2.item_aa8da2 {
  border-color: var(--rosynight-bg2);
}

.top_aa8da2 .brand_aa8da2.item_aa8da2:hover {
  border-color: var(--rosynight-bg2);
  color: var(--rosynight-bg2);
}

.colorSwatchLabel__04485, .lookLink__201d5.colorPrimary__201d5 {
  color: var(--rosynight-bg) !important;
}

.contentColumnWide__23e6b .text-sm\/normal_cf4812 {
  color: var(--rosynight-bg) !important;
}

.defaultColor-2cKwKo,
.description-30xx7u,
.labelDescriptor-34wZ-z,
.h5-2RwDNl,
.label-2bTGzo,
.legend-1TXTJO {
  color: var(--rosynight-bg);
}

.actionButton_f8fa06 path,
.headerCellContent__5fe04,
.overflow_b0dfc2,
.headerText__99e7c,
.name__20a53,
.icon__2ea32 {
  color: var(--rosynight-main);
}

.modeSelected__2ea32 .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32,
.modeUnreadImportant__2ea32 .icon__2ea32,
.modeUnreadImportant__2ea32:hover .icon__2ea32,
.modeConnected__2ea32 .name__2ea32,
.modeConnected__2ea32:hover .name__2ea32,
.modeSelected__2ea32 .name__2ea32,
.modeSelected__2ea32:hover .name__2ea32,
.modeUnreadImportant__2ea32 .name__2ea32,
.modeUnreadImportant__2ea32:hover .name__2ea32,
.notInteractive__2ea32.modeConnected__2ea32 .name__2ea32,
.notInteractive__2ea32.modeSelected__2ea32 .name__2ea32 {
  color: var(--rosynight-main2);
}

.unreadImportant__2ea32 {
  background-color: var(--rosynight-main2);
}

.channelName-3KPsGw,
.subtitle__2ea32 {
  color: var(--rosynight-main);
}

.colorable_f1ceac.primaryDark_f1ceac,
.colorable_f1ceac.primaryDark_f1ceac,
.colorable_f1ceac.primaryDark_f1ceac .centerIcon_f1ceac,
.colorable_f1ceac.primaryDark_f1ceac.active_f1ceac,
.colorable_f1ceac.primaryDark_f1ceac:hover {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.controlIcon_f1ceac,
.controlIcon_f1ceac:hover,
.name_f37cb1,
.headerChildren_f37cb1,
.usernameFont__07f91,
.listDefault__07f91 .clickable__07f91:hover .username__07f91,
.icon__07f91 {
  color: var(--rosynight-main);
}

.privateChannels_e6b769 [href="/store"] {
  display: none;
}


.interactive-1vLZ_I:focus-within,
.interactive-1vLZ_I:hover,
.interactiveSelected__972a0 {
  background-color: var(--rosynight-bg2);
}

.toolbar__9293f a[href="https://support.discord.com"] {
  display: none;
}

.circleIconButton__5bc7e {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.circleIconButton__5bc7e:hover {
  background-color: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

.scroller__7d20c {
  background-color: var(--rosynight-bg);
}

.wrapper__00943,
.theme-dark .outer_bf1984.interactive_bf1984,
.theme-dark .outer_bf1984.interactive_bf1984:hover {
  background-color: var(--rosynight-bg2) !important;
}

.textContent__00943 {
  color: var(--rosynight-main);
}

.header__7d20c {
  color: var(--rosynight-main);
}

.section__00943 {
  background-color: var(--rosynight-bg);
}

.activityText__972a0,
.activity-icon {
  color: var(--rosynight-main2);
}

.header-2Kx1US,
.side-2ur1Qk .item-3XjbnG {
  color: var(--rosynight-bg);
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:active:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:active:not(.disabled-1nofHP),
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main);
}

.side-2ur1Qk>:where([class^=bd-], [class*=-tab], :where([class*=-tab], [class^=bd-])+.separator-2wx7h6, :nth-child(-n+9)) {
  order: -1;
}

.text-md-medium-2avxhQ,
.text-md-normal-304U3g,
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--rosynight-bg) !important;
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo,
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main);
}

.heading-lg-bold-3uwrwG {
  color: var(--rosynight-bg);
}

.top-K_jibn .item-3XjbnG,
.top-K_jibn .brand-3g5E0C.item-3XjbnG:active,
.top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG,
.top-K_jibn .brand-3g5E0C.item-3XjbnG:hover {
  color: var(--rosynight-bg);
  border-bottom-color: var(--rosynight-bg);
}

.resultsGroup__56fec {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.theme-dark .option__56fec:after {
  background: transparent;
}

.theme-dark .searchOption-3u1yGrT .filter__56fec,
.theme-dark .searchOption-3u1yGrT .answer__56fec,
.resultsGroup__56fec .header__56fec {
  color: var(--rosynight-main);
  font-weight: bold;
}

.theme-dark .option__56fec .filter__56fec,
.theme-dark .option__56fec .answer__56fec,
.theme-dark .option__56fec .nonText__56fec {
  color: var(--rosynight-main);
  font-weight: bold;
}

#SEARCH_OPTIONS-header.header__56fec,
#HISTORY-header.header__56fec {
  color: var(--rosynight-main);
}

#app-mount .container__55c99 .option__56fec.selected-rZcOL- {
  background-color: var(--rosynight-bg);
}

.option__56fec strong {
  color: var(--rosynight-main);
}

.message__02a39 .messageContent_c19a55,
.username_c19a55 {
  color: var(--rosynight-main);
}

.cozy_c19a55 .timestamp_c19a55 {
  color: var(--rosynight-main2) !important;
}

.searchBar__97492 {
  background-color: var(--rosynight-main);
}

.icon_fea832 {
  color: var(--rosynight-bg);
}

.public-DraftEditorPlaceholder-inner {
  color: var(--rosynight-bg);
}

.searchBar_e6b769 .searchBarComponent__35e86 {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.quickswitcher_ac6cb0 {
  background-color: var(--rosynight-bg);
}

.input_ac6cb0 {
  background-color: var(--rosynight-bg2);
}

.input_ac6cb0::placeholder {
  color: var(--rosynight-main);
}

#uid_6060 {
  background-color: var(--rosynight-bg);
}

.scroller_ac6cb0 {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.header__71961,
.name__71961,
.note__71961,
.misc__71961,
.inline__30cbe .pro__30cbe,
.inline__30cbe .tip__30cbe {
  color: var(--rosynight-main);
}

.avatar_c19a55.clickable_c19a55 {
  filter: drop-shadow(0 0 5px);
  color: var(--rosynight-main);
}

.avatar_c19a55:hover.clickable_c19a55:hover {
  filter: drop-shadow(0 0 8px);
  color: var(--rosynight-main);
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}

.list-3FIpnh>div:first-child {
  background-color: var(--rosynight-bg);
}

.container-2qVG6q,
.container-2qVG6q:hover {
  background-color: var(--rosynight-bg2);
}

.channelNameSpan-2CGJt7,
.username-u-ebrn,
.author-22H8ZU,
.messageContent-1SOr75,
.messageCountBox-XEP63e,
.messageCountIcon-2CvKyY,
.messageCountText-J-9pag {
  color: var(--rosynight-main) !important;
}

.newMessageCount-jqlY9z {
  color: var(--rosynight-main2) !important;
}

.pill_a2c9e8,
.pill_a2c9e8.clickable_a2c9e8:not(.disabled_a2c9e8):hover {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.lineClamp1-1iDPU7 {
  color: var(--rosynight-bg);
}

.header-1Uy0p6 {
  background-color: var(--rosynight-bg2);
}

.searchIcon-2Nw0OL {
  color: var(--rosynight-main);
}

.collapsed-23aTv6 .title-1v5ZfI::placeholder {
  color: var(--rosynight-main2);
}

.searchHeader_f3b986 {
  background-color: var(--rosynight-main);
}

.totalResults_f3b986,
.channelNameIcon_c68065,
.channelName-3w2Y3c {
  color: var(--rosynight-main) !important;
}

.scroller_a9e706 {
  background-color: var(--rosynight-bg);
}

.message__02a39,
.channelName-3w2Y3c {
  background-color: var(--rosynight-bg2);
}

.channelName-3w2Y3c {
  border-radius: 5px;
}

.cozy_c19a55 .messageContent_c19a55 {
  background-color: var(--rosynight-bg);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.compactButton__7ff28,
.compactButtonDisabled__7ff28 {
  background-color: var(--rosynight-main);
}

.compactButton__7ff28:hover {
  background-color: var(--rosynight-main2);
}

.header__00de6,
.icon_fb52f0 {
  color: var(--rosynight-main);
}

.tabBar__133bf .badge__133bf {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-bg);
}

.inner__999f6 {
  background-color: var(--rosynight-bg2);
}

.input__48d49::placeholder {
  color: var(--rosynight-main) !important;
}

.scroller-1bVxF5 {
  background-color: var(--rosynight-bg);
  border-radius: 5px;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main);
}

.label-2gNW3x,
.arrow_d64d50,
.icon-E4cW1l,
.hint-BK71lM,
.slateTextArea_ec4baf,
.actionIcon_c69b6d,
.addButtonIcon__29444 {
  color: var(--rosynight-main);
}

.addButtonIcon__29444:hover,
.iconItem_c69b6d .actionIcon_c69b6d:hover,
.userInfoSectionHeader-2mYYun,
.userInfoText-2MFCmH.text-sm-medium_bc6ffc,
.text-sm-normal-3Zj3Iv {
  color: var(--rosynight-main2);
}

.modeMuted__2ea32 .icon__2ea32,
.modeMuted__2ea32 .name__2ea32 {
  color: var(--rosynight-main2);
}

.content-2a4AW9,
.searchBar_e6b769 {
  background-color: var(--rosynight-bg);
}

.item__58105 {
  background-color: var(--rosynight-main2) !important;
}

.ChannelDms-channelmembers-wrap:hover .item-3XjbnG,
.header_c6e099,
.members__211d1,
.iconContainer__211d1,
.arrow_d64d50 {
  color: var(--rosynight-main) !important;
}

.videoGrid_a21736,
.participantsButton__211d1 {
  background-color: var(--rosynight-bg2);
}

.overlayTitle__2f4f7 {
  background-color: var(--rosynight-main);
}

.button_c6e099 {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.button_c6e099:hover {
  background-color: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

.users__260e1 {
  background-color: var(--rosynight-main) !important;
  color: var(--rosynight-bg);
}

.total__260e1 {
  background-color: var(--rosynight-main2) !important;
  color: var(--rosynight-bg);
}

.total__260e1:after {
  border-right-color: var(--rosynight-main);
}

.name__2ea32 {
  color: var(--rosynight-main);
}

.button__67645.enabled__67645:hover,
.clickable_f37cb1 .header_f37cb1:hover,
.selected_f37cb1 .header_f37cb1,
.modeSelected__2ea32 .wrapper__2ea32,
.modeSelected__2ea32:hover .wrapper__2ea32 {
  background-color: var(--rosynight-bg2);
}

.title-2dsDLn,
.modeDefault-2fEh7a {
  color: var(--rosynight-bg) !important;
}

.radioBar-3w9XY-,
.sessionIcon__803f2 {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.info-2FZci4 .text-md-medium-2avxhQ,
.flexChild__7c0ba {
  color: var(--rosynight-main) !important;
}

.formNotice-2nS8ey {
  background-color: var(--rosynight-main2);
}

.sessionInfoRow__803f2,
.sessionMoreButton__803f2,
.sessionMoreButton__803f2:hover,
.lookOutlined-3yKVGo.colorRed-rQXKgM,
.defaultKeybindGroupHeader__740f2,
.gameName_cc46f0,
.hoverRoll__0263c,
.theme-dark .notDetected_cc46f0 .lastPlayed_cc46f0,
.theme-light .notDetected_cc46f0 .lastPlayed_cc46f0,
.theme-dark .nowPlayingAdd_cc46f0,
.theme-light .nowPlayingAdd_cc46f0 {
  color: var(--rosynight-bg2) !important;
}

.theme-dark .notDetected_cc46f0,
.theme-light .notDetected_cc46f0,
.theme-dark .addGamePopout_cc46f0 {
  background-color: var(--rosynight-main2);
}

.markup__75297 a {
  color: var(--rosynight-main2) !important;
}

.wrapper__6c798 {
  background-color: var(--rosynight-bg);
}

.mention__3b95d,
.mention__3b95d:active,
.numberBadge__40d6f,
.unreadPill__908e2,
.theme-dark .wrapper_d4fa29 {
  background-color: var(--rosynight-main) !important;
  color: var(--rosynight-bg);
}

.unreadPillCapStroke__908e2 {
  fill: var(--rosynight-main);
}

.divider__908e2.isUnread__908e2 {
  border-top: 1px solid var(--rosynight-main);
}

.wrapper_f7ecac {
  background-color: var(--rosynight-main) !important;
}

.sendIcon_aa63ab,
.embedAuthor__623de,
.embedDescription__623de,
.embedFields__623de,
.embedFooter__623de,
.embedMedia__623de,
.embedProvider__623de,
.embedTitle__623de {
  color: var(--rosynight-main) !important;
}

.icon_a3b500 {
  color: var(--rosynight-bg);
}

.activityText__5d473,
.icon_f8896c,
.reactionBtn__23977 {
  color: var(--rosynight-main);
}

.reactionInner_f8896c {
  background-color: var(--rosynight-main);
  border-radius: 5px;
}

.reactionCount_f8896c {
  color: var(--rosynight-bg);
}

.theme-dark .scroller_b7f4b4,
.theme-dark .container_b7f4b4,
.theme-dark .reactors_b7f4b4 {
  background-color: var(--rosynight-bg);
}

.reactionSelected_b7f4b4 .defaultColor-24IHKz {
  color: var(--rosynight-main);
}

.userPopoutInnerNonPremium-3zrFkp {
  background: var(--rosynight-main) !important;
}

.overlayBackground-arbZMT {
  background: var(--rosynight-bg);
}

.userTagUsernameNoNickname-2e_xaO,
.discrimBase-KriZSj,
.date-YN6TCS,
.roleName__48c1c,
.addButtonIcon__48c1c,
.title-1r9MQ6,
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active,
.top-K_jibn .item-3XjbnG,
.username-1g6Iq1,
.discriminator-1bqsd3,
.customStatus-kFfkj5 {
  color: var(--rosynight-main);
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active,
.top-K_jibn .item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
  border-color: var(--rosynight-main);
}

.connectedAccountContainer-SlCC-S {
  background-color: var(--rosynight-main);
}

.text-md-semibold-3xVVGu.connectedAccountNameText-2m46Qn,
.heading-lg-medium-3gUJeM,
.heading-lg-normal-1bqh2L,
.connectedAccountOpenIcon-QgWKH8 {
  color: var(--rosynight-bg) !important;
}

.pencilIcon-1MUmnO {
  color: var(--rosynight-main);
}

.header_f37cb1,
.scroller__629e4,
.content__99f8c,
.members_c8ffbb {
  background-color: var(--rosynight-bg);
}

.side_aa8da2 .item_aa8da2,
.header_aa8da2,
.description_ddd181,
.defaultMarginb717a15017b82443-h5,
.defaultColor__4bd52,
.bd-sidebar-header h2,
.foreground__7df54,
.text-xs-normal_ccc5fb {
  color: var(--rosynight-main) !important;
}

.newMessagesBar__0f481 {
  background-color: var(--rosynight-main);
}

.barButtonMain__0f481, .span__0f481, .barButtonAlt__0f481 {
  color: var(--rosynight-bg);
}

.scroller_c1e9c4 {
  background-color: var(--rosynight-bg2);
}

.label_c1e9c4, .icon_c1e9c4 {
  color: var(--rosynight-main);
}

.iconBadge__9293f {
  background-color: var(--rosynight-main2);
}

.colorDefault_c1e9c4.focused_c1e9c4 {
  background-color: var(--rosynight-bg);
}

.fileWrapper__0ccae.newMosaicStyle_b52bef {
  background-color: var(--rosynight-bg2);
}

.wrapper__6c798 {
  background-color: var(--rosynight-bg);
}

.childWrapperNoHoverBg__6e9f8 {
  background: var(--rosynight-main) !important;
  color: var(--rosynight-bg);
}

.wrapper__6e9f8:hover .childWrapper__6e9f8, .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8 {
  background: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

button.button__67645, span.button__67645 {
  color: var(--rosynight-main) !important;
}

.sprite__04eed.spriteGreyscale__04eed.inactive__04eed {
  background: var(--rosynight-main);
}

.member_c8ffbb{
  background: var(--rosynight-bg);
}

.container__0f2e8 {
  background-color: var(--rosynight-bg2);
}

.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32:hover .link__2ea32{
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main2) !important;
}
 
.customScroller__23e6b .content__99f8c {
  background-color: var(--rosynight-main2);
}

.wrapperCommon__29444, .name__29444 {
  color: var(--rosynight-main);
}

.numberBadge__2b1f5, .mentionsBar__7aaec {
  background-color: var(--rosynight-main) !important;
  color: var(--rosynight-bg) !important;
}

.theme-dark .sidebarContainer_a3a4ce {
  background-color: var(--rosynight-bg);
}

.name__20a53 {
  color: var(--rosynight-main);
}

.h5_b717a1, .title__0d850, .formNoticeBody_f43ba5 {
  color: var(--rosynight-bg);
}

.description_db0ee9, .roleName_a930f1, .person_a930f1, .tableTitle_db0ee9, .helpText_db0ee9 {
  color: var(--rosynight-bg) !important;
}

.tutorialContainer__1f388 {
  position: relative;
  margin: 8px 0;
}

#popout_391 {
  left: 45px !important;
}

.activityPanel__5e434 {
  background-color: var(--rosynight-bg) !important;
}

.gameName__8c6c2{
  color: var(--rosynight-main);
}


.button_e6e74f {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main);
}

.button_e6e74f:hover {
  color: var(--rosynight-main2);
}

.wrapper__2ea32:hover .name__2ea32, .modeMuted__2ea32:hover .name__2ea32 {
  color: var(--rosynight-main2);
}

.repliedTextContent_c19a55 {
  padding: 0 10px !important;
}

.wrapper_f7ecac .button_f7ecac {
  color: var(--rosynight-bg);
}

.icon_c9d15c {
  color: var(--rosynight-main);
}

.mentioned__5126c {
  background-color: color-mix(in srgb, var(--rosynight-main) 40%, transparent) !important;
}
.mentioned__5126c:before {
  background-color: var(--rosynight-main);
}

.mention, .channelMention  {
  background: var(--rosynight-main) !important;
  color: var(--rosynight-bg) !important;
}

.contents__201d5.buttonContents_e131a9 .lottieIcon__5eb9b.buttonIcon_e131a9 {
  --__lottieIconColor: var(--rosynight-main) !important;
}

.reminder-button {
  background-color: var(--rosynight-main) !important;
  color: var(--rosynight-bg) !important;
  width: 77% !important;
  margin: 0 0 0 90px !important;
}

.buttonInner__34c2c, .addReactButton__34c2c {
  color: var(--rosynight-main);
  background: var(--rosynight-bg2);
}

.buttonInner__34c2c, .addReactButton__34c2c {
  color: var(--rosynight-main);
  background: var(--rosynight-bg2);
}

.divider__5126c .content__908e2 {
  color: var(--rosynight-main);
}

.button__201d5[aria-label="Send a gift"] {
  display: none;
}

button.button__67645 .lottieIcon__5eb9b svg path {
  fill: var(--rosynight-main) !important;
}

.itemsContainer_ef3116 {
  background: var(--rosynight-bg);
}

.content__37e49 {
  background: var(--rosynight-bg) !important;
}

.container__34c2c, .divider_ee23ac {
  background-color: var(--rosynight-bg) !important;
}

.container__34c2c {
  border-color: var(--rosynight-main);
}

.card_f369db .mainCard_f369db{
  background-color: var(--rosynight-main2);
}


.headerText_faa96b .lineClamp2Plus__4bd52 {
  color: var(--rosynight-bg) !important;
}

.card_f369db .messageContent_faa96b, .card_f369db .username__703b9, .footer_faa96b .messageCountIcon_faa96b, .footer_faa96b .messageCountText_faa96b, .footer_faa96b .text-sm\/normal_cf4812 {
  color: var(--rosynight-bg) !important;
}

.container_faa96b.isOpen_faa96b {
  background-color: var(--rosynight-main) !important;
}

.container__01ae2, .scrollerBase__99f8c, .resizeHandle__01ae2 {
  background-color: var(--rosynight-bg);
}

.pinIcon__08166 {
  background-color: var(--rosynight-bg);
}

.searchIcon_d9be46 , .forumPostFormButton_d9be46{
  color: var(--rosynight-bg);
}

.matchingPostsRow_f369db {
  background-color: var(--rosynight-main2);
}

.container__37e49 .buttons__37e49 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px !important;
    margin-left: -130px;
}

.layer_bc663c .root__49fc1.small__49fc1.fullscreenOnMobile__49fc1.rootWithShadow__49fc1, .layer_bc663c .footer__49fc1{
  background-color: var(--rosynight-main);
}

.layer_bc663c .message_fd14e0 {
  background-color: var(--rosynight-bg);
}

.layer_bc663c .tip__30cbe {
  color: var(--rosynight-bg);
  font-weight: 600;
}

.container__5e434, .visual-refresh .sidebar__5e434:after {
  background: var(--rosynight-bg) !important;
}

.panels__5e434 {
  border: none !important;
  background-color: var(--rosynight-bg) !important;
}

.title_c38106 .defaultColor__4bd52 {
color: var(--rosynight-main2);
}

.content_f75fb0 {
  background: var(--rosynight-bg);
}

.container__0f2e8.openOnHover__0f2e8 {
  background: var(--rosynight-bg2);
}

.visual-refresh .sidebar__5e434:after {
height: 70px;
  right: 0px;
}

.visual-refresh .themed_aa8da2.item_aa8da2 {
  color: var(--rosynight-main2);
}

.circleIconButton__5bc7e:hover {
  background-color: var(--rosynight-main2) !important;
}

.nameTag__37e49  .title_b6c092, .nameTag__37e49 .subtext__339d0 {
color: var(--rosynight-main2);
}

.menu_c1e9c4 {
background-color: var(--rosynight-bg2);
}

.menu_c1e9c4 .label_c1e9c4, .menu_c1e9c4 .iconContainer_c1e9c4 svg {
color: var(--rosynight-main2);
}

.modeMuted__2ea32 .icon__2ea32, .modeMuted__2ea32 .name__2ea32 {
color: var(--rosynight-main2) !important;
}

.container__37e49 {
  position: relative;
  border: none;
  border-radius: 5px;
  width: 81%;
  margin-left: 70px;
  background-color: var(--rosynight-bg);
}

.chat_f75fb0, .chatContent_f75fb0, .peopleColumn__133bf, .sidebarResizeHandle__5e434 {
  background-color: var(--rosynight-bg) !important;
}

.sidebarRegionScroller__23e6b {
  background-color: var(--rosynight-main) !important;
}

.contentRegion__23e6b, .contentRegionScroller__23e6b  {
  background-color: var(--rosynight-main) !important;
}

.title__85643 svg path {
  fill: var(--rosynight-main) !important;
}

.activityPanel__5e434 {
    background: var(--rosynight-bg);
    margin-bottom: 10px;
    margin-left: 90px;
}

.visual-refresh .container__2637a {
	background: var(--rosynight-bg);
}

.avatars__9ac28 .text__530ce {
	color: var(--rosynight-main) !important;
}

.container__00de6 .defaultColor__5345c, .container__00de6 .description__00de6, .mutualGuilds_b50d96 {
	color: var(--rosynight-main) !important;
}

.container_b50d96 .text-sm\/normal_cf4812 {
	color: var(--rosynight-main) !important;
}

.emptyChannelIcon__00de6 {
    background-color: var(--rosynight-bg2);
}

.emptyChannelIcon__00de6 svg path{
	fill: var(--rosynight-main) !important;
}

.container__00de6 .buttonContainer__6ca73 .button_aec7ab {
    background-color: var(--rosynight-main);
}

.container__00de6 .buttonContainer__6ca73 .button_aec7ab .buttonIcon__6e3f1 svg path {
    fill: var(--rosynight-bg) !important;
}

.gameWrapper__8c6c2 .gameName__8c6c2 {
    color: var(--rosynight-main) !important;
}

.visual-refresh .topic__6ec1a {
	color: var(--rosynight-main2);
}

.card_f369db .mainCard_f369db:hover {
    background-color: var(--rosynight-main);
}

.tags__08166 .lineClamp1__4bd52 {
	color: var(--rosynight-bg) !important;
}

.container__9293f.themed__9293f {
	background-color: var(--rosynight-bg);
}

.cozy__235ca .iconContainer__235ca svg path {
	fill: var(--rosynight-main) !important;
}

.cozy__235ca .content__235ca {
	color: var(--rosynight-message-color);
}

.visual-refresh .modal__62141 {
	background-color: var(--rosynight-main);
}

.container_d9be46[aria-label="Create Post"] .slateContainer_ec4baf .slateTextArea_ec4baf {
  color: var(--rosynight-bg);
}

.lottieIconColors__5eb9b :not(defs *)[stroke][stroke-opacity] {
  stroke: var(--rosynight-main) !important;
}

.trailing_c38106 .clickable_c99c29 {
  color: var(--rosynight-main);
}

.spriteGreyscale__04eed {
  background-color: var(--rosynight-main);
}

.panels_c48ade {
    background: var(--rosynight-bg) !important;
    border: none !important;
}

.avatarWrapper__37e49 {
	min-width: 0 !important;
}

.sidebar_c48ade, .sidebar_c48ade:after{
    background: var(--rosynight-bg) !important;
}

.chatGradient__36d07{
  background: none;
}

.plated__37e49:hover {
    background-color: transparent !important;
}

.numberBadge__463b7, .mentionsBar__7aaec {
  background-color: var(--rosynight-main) !important;
  color: var(--rosynight-bg) !important;
}

.clickable__81391 {
  color: var(--rosynight-main);
}


::-webkit-scrollbar-thumb {
  background-color: var(--rosynight-main) !important;
}

::selection {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main2);
}

