:root {
  --neptune-main-bg: #1a2035;
  --neptune-main-color: #228bd1;
  --neptune-sec-color: #84adf8;
  --neptune-home-icon: url(https://i.imgur.com/S8avvX2.png);
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 150deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
}

.headerTop-3GPUSF {
  background-color: var(--neptune-main-color);
}

.bodyInnerWrapper-2bQs1k {
  background-color: var(--neptune-main-bg);
}

.userPopout-2j1gM4 {
  background-color: var(--neptune-main-bg);
}

.role_dfa8b6 {
  height: 30px;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--neptune-main-color);
}

.headerTagUsernameNoNickname-1TjuLc,
.discrimBase-1VOoau,
.colorLink-2apWfY,
.roleName__48c1c,
.addButtonIcon__48c1c,
.theme-dark .newPopoutActivityStyles .headerText__2ef49,
.theme-dark .newProfileActivityStyles .headerText__2ef49,
.theme-light .newPopoutActivityStyles .headerText__2ef49,
.theme-light .newProfileActivityStyles .headerText__2ef49,
.username-1g6Iq1,
.discriminator-1bqsd3,
.additionalActionsIcon-3Cy8UU,
.additionalActionsIcon-3Cy8UU:hover {
  color: var(--neptune-main-bg);
}

.base-21yXnu.muted-eZM05q,
.member-perms-title {
  color: var(--neptune-main-color);
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.scroller__629e4 {
  background-color: var(--neptune-main-bg);
}

.aboutMeSection-PUghFQ .aboutMeBody-1J8rhz,
.activity-1gTu-L {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
  font-weight: bold;
  border-radius: 5px;
}

.theme-dark .newPopoutActivityStyles .activityName__2ef49,
.theme-dark .newPopoutActivityStyles .content__2ef49,
.theme-dark .newPopoutActivityStyles .details__2ef49,
.theme-dark .newPopoutActivityStyles .name__2ef49,
.theme-dark .newPopoutActivityStyles .nameNormal__2ef49,
.theme-dark .newPopoutActivityStyles .nameWrap__2ef49,
.theme-dark .newProfileActivityStyles .activityName__2ef49,
.theme-dark .newProfileActivityStyles .content__2ef49,
.theme-dark .newProfileActivityStyles .details__2ef49,
.theme-dark .newProfileActivityStyles .name__2ef49,
.theme-dark .newProfileActivityStyles .nameNormal__2ef49,
.theme-dark .newProfileActivityStyles .nameWrap__2ef49,
.theme-light .newPopoutActivityStyles .activityName__2ef49,
.theme-light .newPopoutActivityStyles .content__2ef49,
.theme-light .newPopoutActivityStyles .details__2ef49,
.theme-light .newPopoutActivityStyles .name__2ef49,
.theme-light .newPopoutActivityStyles .nameNormal__2ef49,
.theme-light .newPopoutActivityStyles .nameWrap__2ef49,
.theme-light .newProfileActivityStyles .activityName__2ef49,
.theme-light .newProfileActivityStyles .content__2ef49,
.theme-light .newProfileActivityStyles .details__2ef49,
.theme-light .newProfileActivityStyles .name__2ef49,
.theme-light .newProfileActivityStyles .nameNormal__2ef49,
.theme-light .newProfileActivityStyles .nameWrap__2ef49,
.text_c8b06d,
.customStatus-kFfkj5 {
  color: var(--neptune-main-bg);
  font-weight: bold;
}

.textarea_dde0a8,
.userPopout-3XzG_A .header-2BwW8b,
.userPopout-3XzG_A .body-3iLsc4,
.userPopout-3XzG_A .footer-1fjuF6,
.userPopout-3XzG_A .quickMessage-1yeL4E,
.userPopout-3XzG_A .note-3kmerW textarea:focus {
  background: var(--neptune-main-color) !important;
  color: var(--neptune-main-bg);
  border-radius: 5px;
}

.textarea_dde0a8::placeholder {
  color: var(--neptune-main-bg);
  font-weight: bold;
}

.customStatusText-3wj79x {
  color: var(--neptune-main-color);
  font-weight: bold;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.icon__07f91,
.username_c19a55 {
  color: var(--neptune-main-color);
}

.barInner_c8b06d {
  background-color: var(--neptune-main-bg);
}

.infoScroller-1QMpon {
  background-color: var(--neptune-main-bg);
}

.body-1Ukv50,
.topSection-13QKHs {
  background-color: var(--neptune-main-color);
}

.top-K_jibn .item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
  color: var(--neptune-main-bg);
  border-bottom: 2px solid var(--neptune-main-bg);
}
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
  border-bottom-color: var(--neptune-main-bg);
}

.icon_c9d15c {
  color: var(--neptune-main-color);
}

.userInfoSectionHeader-2mYYun {
  color: var(--neptune-main-color);
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
  color: var(--neptune-main-color);
  background-color: var(--neptune-main-bg);
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  color: var(--neptune-main-color);
  background-color: var(--neptune-main-bg);
}

.fileWrapper__0ccae {
  background-color: var(--neptune-main-color);
  border-color: var(--neptune-main-color);
  border-radius: 20px;
}

.theme-dark .message_fd14e0 {
  background-color: var(--neptune-main-color);
}

.reactionInner-9eVHJa {
  background-color: var(--neptune-main-color);
}

.bg__960e4,
.container_a2f514 {
  background-color: var(--neptune-main-bg);
}
.bg__960e4 {
  background-color: var(--neptune-main-bg);
}
.scrollerInner__36d07 {
  background-color: var(--neptune-main-bg);
}
.container__9293f.themed__9293f {
  background: var(--neptune-main-bg);
}
.content-2a4AW9 {
  background-color: var(--neptune-main-bg);
}

.searchBar_e6b769 {
  background-color: var(--neptune-main-bg);
}
.searchBar_e6b769 .searchBarComponent__35e86 {
  background-color: var(--neptune-main-color);
  border-radius: 20px;
}
.scroller__99e7c.thin__99f8c.scrollerBase-_bVAAt.fade-1R6FHN {
  background-color: var(--neptune-main-bg);
}
.panel__5dec7.activityPanel__5e434 {
  background-color: var(--neptune-main-bg);
}
.container__37e49 {
  background-color: var(--neptune-main-bg);
}
.form_f75fb0 {
  background-color: var(--neptune-main-bg);
}
.form_f75fb0 .channelTextArea_f75fb0 .textArea__74017 .placeholder__443e5 {
  color: var(--neptune-main-bg);
}
.form_f75fb0 .channelTextArea_f75fb0 .scrollableContainer__74017 {
  max-height: 45vh;
  background-color: var(--neptune-main-color);
  border-radius: 22px;
}
.form_f75fb0 .channelTextArea_f75fb0 {
  background-color: transparent;
}
.form_f75fb0:before {
  display: none;
}

.theme-dark .container__37e49 {
  background-color: var(--neptune-main-bg);
}

.contents__201d5 {
  color: var(--neptune-main-color);
}

.scroller__36d07,
.quickswitcher_ac6cb0,
.scroller_ac6cb0 {
  background-color: var(--neptune-main-bg);
}

.input_ac6cb0 {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
  border-radius: 15px;
}

.input_ac6cb0::placeholder {
  color: var(--neptune-main-bg);
}

.button__67645,
.button__67645.enabled__67645:hover,
.clickable__9293f .icon__9293f,
.clickable__9293f:hover .icon__9293f {
  color: var(--neptune-main-color);
}

.button__67645:hover,
.clickable__9293f .icon__9293f:hover,
.addButtonIcon__29444:hover,
.winButton__421ed:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.attachButton__0923f .button__74017 path,
.attachButtonPlus__0923f {
  fill: var(--neptune-main-bg);
}
.attachButton__0923f:hover .attachButtonPlus__0923f {
  fill: var(--neptune-main-bg);
}
.button-38aScr .button__74017 path,
.connectedAccountName-j0meX4,
.connectedAccountOpenIcon-1yfBsb,
.connectedAccountOpenIcon-1yfBsb:hover,
.guildName_d5f3cd,
.count_d5f3cd,
.header_d5f3cd {
  color: var(--neptune-main-bg);
}

.cozy_c19a55 .messageContent_c19a55,
.subtext__339d0,
.embedAuthorName__623de,
.embedFieldName__623de,
.embedTitle__623de,
.embedDescription__623de,
.embedFieldValue__623de,
.icon-uXAV0f,
.reactionBtn-3_qQdk,
.reactionBtn-3_qQdk:hover .icon-uXAV0f,
.name_f37cb1,
.headerChildren_f37cb1 {
  color: var(--neptune-sec-color) !important;
}

.content_d125d2, .scroller__99e7c, .privateChannels_e6b769 {
  background-color: var(--neptune-main-bg);
}

.container_e131a9,
.grid__623de {
  background-color: var(--neptune-main-bg);
}

.button_e131a9.buttonColor_e131a9,
.button_e131a9 .buttonColor_e131a9 {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.button_e131a9.buttonColor_e131a9:hover,
.button_e131a9 .buttonColor_e131a9:hover {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.avatarHint_f89da9,
.StatusEverywhere-avatar-userPopout {
  margin-left: 75px;
}

.connectedAccount-1xKpli {
  background-color: var(--neptune-main-color);
  border-radius: 25px;
}

.userBio-2-tr00 {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
  border-radius: 5px;
}

.cursorDefault__92b08 {
  background-color: var(--neptune-main-color);
}
.markup__75297 a {
  color: var(--neptune-sec-color);
}

button[aria-label="Send a gift"] {
  display: none;
}

.typeWindows__421ed {
  position: relative;
}

.winButtons_c38106 {
  color: var(--neptune-main-color);
}

.reaction_f8896c,
.reaction_f8896c:hover,
.wrapper_f7ecac,
.scroller-1bVxF5,
.scroller_affa7e {
  background-color: var(--neptune-main-color);
}

.icon_a3b500 {
  color: var(--neptune-main-bg);
}

.colorDefault-CDqZdO {
  color: var(--neptune-main-bg);
  font-weight: bold;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.members_c8ffbb,
.members_c8ffbb > div {
  background-color: var(--neptune-main-bg);
}

.header_f37cb1,
.mainContent-20q_Hp:before,
.scroller_ef3116 {
  background-color: var(--neptune-main-bg);
}

.channelName-3KPsGw,
.icon__2ea32,
.modeSelected__2ea32 .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32,
.modeUnreadImportant__2ea32 .icon__2ea32,
.modeUnreadImportant__2ea32:hover .icon__2ea32,
.actionIcon_c69b6d,
.actionIcon_c69b6d:hover,
.overflow_b0dfc2,
.addButtonIcon__29444,
.addButtonIcon__29444:hover,
.icon__29444,
.wrapper__29444.muted__29444:hover .icon__29444,
.wrapper__29444.muted__29444:hover .name__29444,
.wrapper__29444:hover .icon__29444,
.wrapper__29444:hover .name__29444,
.title__9293f,
.icon__9293f {
  color: var(--neptune-main-color);
}

.wrapper__2ea32.modeUnreadImportant__2ea32
  .wrapper__2ea32
  .mainContent-20q_Hp
  .icon__2ea32,
.topic__6ec1a {
  color: var(--neptune-sec-color);
}
.wrapper__2ea32 .wrapper__2ea32 .mainContent-20q_Hp .icon__2ea32 {
  color: var(--neptune-main-color);
}

.wrapper__2ea32.modeUnreadImportant__2ea32
  .wrapper__2ea32
  .mainContent-20q_Hp
  .channelName-3KPsGw {
  color: var(--neptune-sec-color);
}

.theme-dark .children__9293f:after {
  background: transparent;
}

.divider__908e2 {
  border-color: var(--neptune-main-color);
}

.content__908e2 {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
  border-radius: 15px;
}
.wrapper__6e9f8[data-list-item-id="guildsnav___home"] .childWrapper__6e9f8 {
  background: var(--neptune-home-icon) center/cover no-repeat;
  min-width: 50px;
  min-height: 50px;
}

.wrapper__6e9f8[data-list-item-id="guildsnav___home"] .childWrapper__6e9f8 svg {
  display: none;
}

.contentColumnDefault__23e6b,
.contentRegionScroller__23e6b,
.sidebarRegionScroller__23e6b, .contentTransitionWrap__23e6b {
  background-color: var(--neptune-main-bg) !important;
}

.sidebar__23e6b {
  background-color: var(--neptune-main-color);
  border-radius: 10px;
}

.side-2ur1Qk .item-3XjbnG,
.header-2Kx1US {
  color: var(--neptune-main-bg);
  font-weight: bold;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  color: var(--neptune-main-color);
  background-color: var(--neptune-main-bg);
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
  color: var(--neptune-main-color);
  background-color: var(--neptune-main-bg);
}

.background_a9178b,
.fieldList_a9178b {
  border-radius: 40px;
  background-color: var(--neptune-main-color);
}

.colorHeaderPrimary-jN_yGr,
.colorHeaderSecondary-g5teka,
.fieldTitle_a9178b,
.lookLink-9FtZy-.colorLink-35jkBc,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  color: var(--neptune-main-bg);
  font-weight: bold;
}

.accountProfileCard_a9178b {
  background-color: var(--neptune-main-bg);
}

.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.premiumInlineNotice-159eYs,
.radioBar-3w9XY- {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.overflowMenuIcon_a9178b,
.userTag_a9178b,
.discriminator_a9178b,
.defaultColor-2cKwKo,
.phoneRevealer-1PfYzd,
.h5-2RwDNl,
.title-2dsDLn {
  color: var(--neptune-main-color);
}

.description-30xx7u,
.labelDescriptor-34wZ-z,
.anchor-1MIwyf {
  border-radius: 5px;
  color: var(--neptune-sec-color);
  font-weight: bold;
}

.theme-dark .closeButton_c2b141,
.theme-dark .keybind_c2b141 {
  border-color: var(--neptune-main-color);
  color: var(--neptune-main-color);
}

.avatarUploaderIcon-3-5PWB {
  display: none;
}

.avatarUploader-2UF9NL {
  margin-left: 75px;
}

.text-3bXy2L,
.formNoticeTitle-2qYdGw,
.subEnabledTitle-2MHkAH,
.connectionHeader-2rV1ze .connectionAccountValue-3gVX0m,
.connectionDelete-XXTMqE,
.connectionDelete-XXTMqE:hover {
  color: var(--neptune-main-bg);
}

.field_a9178b > div > div > div {
  filter: blur(5px);
}
.field_a9178b > div > div > div:hover {
  filter: blur(0);
}

.cardPrimary-3qRT__,
.cardPrimaryEditable-2mz_3i {
  background-color: var(--neptune-main-color);
  border-radius: 25px;
}

.modeDefault-2fEh7a {
  font-weight: bold;
}

.card-16VQ8C a,
.formText-2ngGjI {
  color: var(--neptune-sec-color);
}

.connectionHeader-2rV1ze {
  background-color: var(--neptune-main-color);
}

.connectionOptionsWrapper-1ipqUo {
  background-color: var(--neptune-main-color);
  border-radius: 3px;
}

.hasBanner_f37cb1 .header_f37cb1,
.hasBanner_f37cb1 .header_f37cb1:hover {
  color: var(--header-primary);
  box-shadow: var(--elevation-low);
}
.hasBanner_f37cb1 .header_f37cb1,
.hasBanner_f37cb1 .header_f37cb1:hover {
  background-color: var(--neptune-main-bg);
}
.header_f37cb1 {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.animatedContainer_f37cb1,
.content-2a4AW9 [style="height: 84px;"],
.bannerImage_f37cb1 {
  display: none;
}
.hasBanner_f37cb1 .header_f37cb1,
.hasBanner_f37cb1 .header_f37cb1:hover {
  color: var(--neptune-main-bg);
  box-shadow: var(--neptune-main-bg);
}

.clickable_f37cb1:hover {
  background-color: var(--neptune-main-bg);
}

.typeWindows__421ed .winButton__421ed > svg {
  display: none;
}

.typeWindows__421ed .winButton__421ed {
  background: none;
  top: 0;
  width: 12px;
  height: 12px;
  margin: 4px 12px 0px 0px;
}

.typeWindows__421ed .winButton__421ed:nth-child(2) {
  margin-right: 12px;
}

.typeWindows__421ed .winButton__421ed::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 12px;
  transition: 0.1s;
}

.typeWindows__421ed .winButtonClose__421ed::after {
  background-color: hsl(0, 50%, 50%) !important;
}

.typeWindows__421ed .winButtonMinMax__421ed:nth-child(3)::after {
  background-color: hsl(120, 50%, 50%) !important;
}

.typeWindows__421ed .winButtonMinMax__421ed:nth-child(4)::after {
  background-color: hsl(50, 50%, 50%) !important;
}

.typeWindows__421ed > div:hover::after {
  transform: scale(1.1);
}

.jumpToPresentBar__0f481 {
  background-color: var(--neptune-sec-color);
  border-radius: 20px;
}

.barButtonBase__0f481 {
  color: var(--neptune-main-bg);
}

.pencilIcon_e00224,
.closeIcon-11LhXr,
.closeIcon-11LhXr:hover {
  color: var(--neptune-main-color);
}

.avatar-3QF_VA {
  margin-left: 200px;
}

.badgeList-2aoHPw {
  margin-left: -150px;
}

.bd-addon-modal-settings {
  background-color: var(--neptune-main-color);
}

.title-2dsDLn {
  color: var(--neptune-main-bg);
  font-weight: bold;
}

.theme-dark .footer-31IekZ {
  background-color: var(--neptune-sec-color);
}

.header-1zd7se {
  background-color: var(--neptune-main-bg);
}

.bd-addon-list .bd-addon-header {
  background-color: var(--neptune-main-bg);
}

.bd-description-wrap,
.bd-addon-list .bd-footer {
  background-color: var(--neptune-main-color);
}

.bd-addon-header .bd-icon {
  fill: var(--neptune-main-color);
}

.bd-name,
.bd-meta {
  color: var(--neptune-main-color);
}

.bd-link {
  color: var(--neptune-sec-color);
}

.theme-dark .foreground-2hyALB,
.theme-dark .bd-social-logo path,
.bd-sidebar-header .bd-icon {
  fill: var(--neptune-main-bg);
}

.searchBar-zdmu7v {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
  border-radius: 5px;
}
.searchBar-zdmu7v::placeholder,
.icon_fea832 {
  color: var(--neptune-main-bg);
}

.resultsGroup-1BPR25 {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}
.theme-dark .option-2KkUJO:after {
  background: transparent;
}
.theme-dark .searchOption-351dTI .filter-5YbOzJ,
.theme-dark .searchOption-351dTI .answer-2fBfuP,
.resultsGroup-1BPR25 .header-3A13BX {
  color: var(--neptune-main-color);
  font-weight: bold;
}

.theme-dark .option-2KkUJO .filter-5YbOzJ,
.theme-dark .option-2KkUJO .answer-2fBfuP,
.theme-dark .option-2KkUJO .nonText-3_4gtu {
  color: var(--neptune-main-color);
  font-weight: bold;
}

#SEARCH_OPTIONS-header.header-3A13BX,
#HISTORY-header.header-3A13BX {
  color: var(--neptune-main-color);
}

#app-mount .container__55c99 .option-2KkUJO.selected-rZcOL- {
  background-color: var(--neptune-main-bg);
}

.theme-dark .searchAnswer_bd8186,
.theme-dark .searchFilter_bd8186 {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.searchHeader_ae7890 {
  background-color: var(--neptune-main-color);
}

.scroller_a98f3b,
.channelName-3w2Y3c {
  background-color: var(--neptune-main-color);
}

.message__80bf8 {
  background-color: var(--neptune-main-bg);
}

.theme-dark .activeButton-LRWFC_,
.theme-dark .activeButton-LRWFC_:hover,
.theme-light .activeButton-LRWFC_,
.theme-light .activeButton-LRWFC_:hover {
  color: var(--neptune-main-color);
  background-color: var(--neptune-main-bg);
}

.pageButton-1GMGeJ,
.clear_fea832 .icon_fea832,
.clear_fea832.iconLayout_fea832:hover .icon_fea832 {
  color: var(--neptune-main-bg);
}

.pageButton-1GMGeJ:hover {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.akaBadge__27cd4 {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.name__91a9d,
.linkButtonIcon__972a0,
.headerText__99e7c {
  color: var(--neptune-main-color);
}

.clickable__91a9d:hover .layout__91a9d,
.selected__91a9d .layout__91a9d {
  background-color: transparent;
}

.children__91a9d {
  color: var(--neptune-main-bg);
}

.colorDefault-CDqZdO:active:not(.hideIntereaction-1iHO1O) {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.container-1zDvAE,
.labelRow-2jl9gK {
  background-color: var(--neptune-main-color);
  border-radius: 5px;
}

.wrapper-22ayhK,
.wrapper_fc8177,
.modalContent-33IoUE,
.theme-dark .root__49fc1 {
  background-color: var(--neptune-main-bg);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled,
.button-Jt-tIg {
  background-color: var(--neptune-main-color);
}

.inputPrefix-1HHwWv,
.modalTitle-3_QDTE,
.theme-dark .cloneInfo-1J6F5H strong,
.theme-dark .subtitle-3Lv1uG,
.title-3XlmeX {
  color: var(--neptune-main-color);
}

.radioText-3Mv1MY {
  color: var(--neptune-main-bg);
}

.button-Jt-tIg {
  color: var(--neptune-main-bg);
  font-weight: bold;
}

.wrapper__8436d.selected_ae80f7,
.wrapper__8436d:hover {
  background-color: var(--neptune-sec-color);
  color: var(--neptune-main-bg);
}

.circleIconButton__5bc7e {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.circleIconButton__5bc7e.selected__5bc7e {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.wrappedName__91a9d {
  color: var(--neptune-main-bg);
}

.avatar__91a9d,
.discoverHeader-Ijkm_M {
  color: var(--neptune-main-bg);
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
  background-color: var(--neptune-sec-color);
}

.scroller-3j5xK2 {
  background-color: var(--neptune-main-bg);
}

.guildInfo_e90879,
.theme-dark .card_e90879,
.theme-dark .iconMask_e90879,
.theme-dark .card_e90879:hover,
.theme-dark .card_e90879:hover .iconMask_e90879,
.theme-dark .iconMask_e90879:hover,
.theme-dark .iconMask_e90879:hover .iconMask_e90879 {
  background-color: var(--neptune-main-color);
}

.wrapper-1HSdhi,
.subtitle-3m-md1,
.title-1_TkpU,
.subtitle-1cc8Nz,
.title-OdeD-o,
.subtitle-bIoUVX,
.title-2Giw-4 {
  color: var(--neptune-main-color);
}

.container-x8Y1ix {
  background-color: var(--neptune-sec-color);
}

.peopleList__5ec2f,
.wrapper__00943,
.theme-dark .outer_bf1984.interactive_bf1984,
.theme-dark .outer_bf1984.interactive_bf1984:hover,
.peopleColumn__133bf {
  background-color: var(--neptune-main-bg) !important;
}

.section__00943 {
  background-color: var(--neptune-main-color);
}

.textContent__00943 {
  color: var(--neptune-sec-color);
}

.header__7d20c {
  color: var(--neptune-main-bg);
}

.actionButton_f8fa06,
.actionButton_f8fa06:hover,
.actionButton_f8fa06.highlight_f8fa06 {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.tabBar__133bf .item__133bf {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.theme-dark .queryContainer__55c99 {
  background-color: var(--neptune-main-color);
}

.theme-dark .dim-2Uxgxb span {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
  box-shadow: var(--neptune-main-bg);
}

.uploadModal_b78547 .inner_b78547,
.theme-dark .uploadModal_b78547,
.theme-dark .footer_b78547,
.destination_b78547 strong,
.destination_b78547,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.textAreaWithoutAttachmentButton__74017,
.inner__74017,
.scrollableContainer__74017 {
  background-color: var(--neptune-main-color);
}

.theme-dark .option-2KkUJO.user-23VtPS .displayedNick-2dDbfG {
  color: var(--neptune-main-color);
}

#private-channels a[href="/store"] {
  display: none;
}

.scroller__7d20c {
  background-color: var(--neptune-main-bg);
}

.username__0a06e,
.discriminator__0a06e {
  color: var(--neptune-main-color);
}

.text__19b6d,
.activityText__5d473,
.repliedTextPreview_c19a55.clickable_c19a55,
.repliedTextContentIcon_da8b30,
.threadMessageAccessoryContentIcon_af7460 {
  color: var(--neptune-sec-color);
}

.expandedFolderBackground-1cujaW,
.expandedFolderIconWrapper-Huv7rA {
  background-color: var(--neptune-main-color);
}

.childWrapper_a6ce15 {
  background-image: var(--neptune-home-icon);
}

.theme-dark .wrapper_d4fa29 {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.contentWrapper__08434,
.inspector_aeaaeb,
.unicodeShortcut_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c:hover,
.emojiItem_fc7141.emojiItemSelected_fc7141 {
  background-color: var(--neptune-main-bg);
}

.inner_fea832,
.wrapper__14245 {
  background-color: var(--neptune-main-color);
}

.inner_fea832::placeholder,
.categoryIcon_b9ee0c,
.categoryItemDefaultCategory_b9ee0c:hover .categoryIcon_b9ee0c,
.header__14245,
.interactive__14245:hover:hover,
.navButtonActive__08434:hover,
.icon_fb52f0,
.theme-dark .categoryText-2i9GtE,
.theme-light .categoryText-2i9GtE,
.tipSubtext_d3460f {
  color: var(--neptune-main-bg);
}

.categoryItemDefaultCategorySelected_b9ee0c .categoryIcon_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c:hover .categoryIcon_b9ee0c,
.unicodeShortcut_b9ee0c,
.unicodeShortcut_b9ee0c:hover,
.navButton__08434,
.navButton__08434:hover,
.titlePrimary_aeaaeb,
.titleSecondary_aeaaeb {
  color: var(--neptune-main-color);
}

.guildIconWithoutImage__0fa6d {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.members_c8ffbb, .member_c8ffbb {
  background-color: var(--neptune-main-bg);
}

.membersGroup_c8ffbb {
  color: var(--neptune-sec-color);
}



.navButtonActive__08434 {
  background-color: var(--neptune-sec-color);
}

.inner__999f6,
.theme-dark .categoryFadeBlurple-1HuV1x,
.theme-light .categoryFadeBlurple-1HuV1x,
.theme-dark .categoryFadeBlurple-1HuV1x:hover,
.theme-light .categoryFadeBlurple-1HuV1x:hover,
.theme-dark .categoryFade-2EGqIh,
.theme-light .categoryFade-2EGqIh,
.theme-dark .categoryFade-2EGqIh:hover,
.theme-light .categoryFade-2EGqIh:hover {
  background-color: var(--neptune-main-color);
}

.scroller__4a84a,
.header_adb41f,
.container-2O1UgZ {
  background-color: var(--neptune-main-bg);
}

.headerCellContent__5fe04,
.nameCellText_adb41f,
.item-1BCeuB,
.perm-details-button {
  color: var(--neptune-main-color);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover,
.theme-light .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.unreadPill__908e2,
.replyBar__841c8 {
  background-color: var(--neptune-main-color);
}
#app-mount .divider__908e2.isUnread__908e2 {
  border-top: 1px solid var(--neptune-main-color);
}
.unreadPillCapStroke__908e2 {
  color: var(--neptune-main-color);
  fill: var(--neptune-main-color);
}

.isUnread__908e2 .content__908e2,
.closeIcon_e876a8,
.channelName__35a7e,
.guildName__35a7e {
  color: var(--neptune-main-bg);
}

.activityText__972a0 {
  color: var(--neptune-sec-color);
}

.numberBadge__40d6f,
.mention__3b95d,
.theme-dark .elevationHigh__08882 {
  background-color: var(--neptune-main-color) !important;
  color: var(--neptune-main-bg);
}

.item__58105 {
  background: var(--neptune-main-color);
}

.membersGroup_c8ffbb,
.header_ab6641 .tab_ab6641 {
  color: var(--neptune-main-color);
}

.scroller__95796,
.messageContainer__95796 {
  background-color: var(--neptune-main-bg);
}

.channelHeader__35a7e {
  background-color: var(--neptune-main-color);
}

.jumpButton_aab0bc,
.jumpButton_ed0c8c:hover .text_ed0c8c,
.jumpButton_ed0c8c .text_ed0c8c,
.full-motion .button__292b6,
.secondary__45d4f:hover:not(.disabled__4d064),
.theme-dark .header_ab6641 .tabBar_ab6641 .tab_ab6641.active_f0cd33,
.container_d404a3,
.inputWrapper-1YNMmM,
.container_d8f25b,
.icon_d8f25b,
.container_d8f25b:hover,
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .circleButton-33AIyY {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
  color: var(--neptune-main-color);
  border-color: var(--neptune-main-color);
  border-radius: 50px;
}

.lookFilled-1GseHa.select-1Ia3hD {
  background-color: var(--neptune-main-color);
}

.card-1SdQ2-,
.popout-1KHNAq,
.option-2eIyOn[aria-selected="true"],
.option-2eIyOn.focused-ODgjnC,
.option-2eIyOn:focus,
.option-2eIyOn:hover {
  background-color: var(--neptune-main-color);
}

.icons-2dXYop {
  color: var(--neptune-main-bg);
}

.memberCountContainer-30IqIo,
.memberCountContainer-30IqIo:hover {
  color: var(--neptune-main-color);
}

.emojiRow-zIc7ZX .emojiAliasInput-1y-NBz,
.emojiRow-zIc7ZX .emojiImage-1hZi2F {
  background-color: var(--neptune-main-bg);
  border-radius: 25px;
}

.threadSuggestionBar__841c8 {
  background-color: var(--neptune-main-color);
}

.titleName_aae012 {
  color: var(--neptune-main-color);
}

.header_ab6641,
.header_ab6641 .tab_ab6641,
.scroller__5906b,
.wrapper__44df5 {
  background-color: var(--neptune-main-bg);
}

.thin__99f8c,
.thin__99f8c.fade-1R6FHN:hover,
.thin__99f8c.scrolling-20Of9p {
  background-color: var(--neptune-main-bg) !important;
}

.circleIconButton__5bc7e {
  background-color: var(--neptune-main-color);
}

.circleIcon__5bc7e {
  color: var(--neptune-main-bg);
}

.circleIconButton__5bc7e.selected__5bc7e {
  background-color: var(--neptune-main-color);
}

.folderGroupBackground__48112,
.expandedFolderIconWrapper__48112,
.unread__2ea32,
.newMessagesBar__0f481 {
  background-color: var(--neptune-main-color);
}

.container_c8ffbb,
.members_c8ffbb,
.scroller__629e4,
.messages__1ccd1 {
  background-color: var(--neptune-main-bg);
}

.label-2gNW3x {
  color: var(--neptune-main-color);
}

#bd-pub-button,
#bd-pub-button:hover {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
  font-weight: bold;
}

.status_e0f739,
.size14-3fJ-ot,
.header__00de6,
.description__00de6 {
  color: var(--neptune-main-color);
}

.replyLabel__841c8,
.button__24af7 {
  color: var(--neptune-main-bg);
}

.group-spacing-16 .groupStart__5126c,
.cozy_c19a55.wrapper_c19a55,
.message__5126c.mentioned__5126c.selected__5126c,
.mouse-mode.full-motion .mentioned__5126c:hover {
  background-color: var(--neptune-main-bg);
}

.emptyChannelIcon__00de6 {
  background-color: var(--neptune-main-color);
}

.scroller__244e5 {
  background-color: var(--neptune-main-bg);
}

.lookInverted-2mDUMi.colorBrand-I6CyqQ,
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover,
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo,
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.base-21yXnu,
.featureDescription-3U0QB3,
.marketingRefreshTitle-UaHKpk,
.marketingRefreshSubtitle-17I8Dd,
.marketingRefreshTier1Logo-38ksW_,
.marketingRefreshDescription-2_tCTt,
.size14-3fJ-ot,
.accountCreditDescription__70151,
.cardText__70151,
.sectionDescription_e335a7,
.disabledIcon_e03935 {
  color: var(--neptune-sec-color);
}

.accountList-305sx3,
.accountBtn-1YkMgV .accountBtnInner-3XK70s,
.noItemsCard_e335a7,
.noItemsCard__70151,
.theme-dark .noItemsIcon_e335a7,
.theme-dark .noItemsIcon__70151,
.theme-dark .feature-2IUcBI,
.option_e03935 {
  background-color: var(--neptune-main-color);
}

.preview-rua1rr,
.previewMessage-2uxBrA {
  background-color: var(--neptune-main-bg);
}

.theme-dark .calendarPicker_d27f17 .react-datepicker {
  background-color: var(--neptune-main-bg);
}
.react-datepicker__day {
  background-color: var(--neptune-main-color);
}
.theme-dark .calendarPicker_d27f17 .react-datepicker {
  background-color: var(--neptune-main-bg);
}
.theme-dark .calendarPicker_d27f17 .react-datepicker__header {
  background-color: var(--neptune-main-bg);
  border-color: rgba(24, 25, 28, 0.2);
}
.theme-dark .calendarPicker_d27f17 .react-datepicker__current-month {
  border-bottom-color: rgba(24, 25, 28, 0.3);
  color: var(--neptune-main-color);
}
.theme-dark
  .calendarPicker_d27f17
  .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-dark
  .calendarPicker_d27f17
  .react-datepicker__navigation.react-datepicker__navigation--previous {
  border-color: var(--neptune-main-color);
}
.theme-dark
  .calendarPicker_d27f17
  .react-datepicker__week:last-of-type
  .react-datepicker__day {
  border-bottom-color: var(--neptune-main-bg);
}
.theme-dark
  .calendarPicker_d27f17
  .react-datepicker__week
  .react-datepicker__day:last-of-type {
  border-right-color: var(--neptune-main-bg);
}
.theme-dark .calendarPicker_d27f17 .react-datepicker__day-name {
  color: var(--neptune-main-color);
}
.theme-dark .calendarPicker_d27f17 .react-datepicker__day {
  color: var(--neptune-sec-color);
}
.theme-dark .calendarPicker_d27f17 .react-datepicker__day--disabled,
.theme-dark .calendarPicker_d27f17 .react-datepicker__day--outside-month,
.theme-dark
  .calendarPicker_d27f17
  .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark
  .calendarPicker_d27f17
  .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: var(--neptune-main-bg);
  color: var(--neptune-main-color);
}

.theme-dark .tierBody_a36dee,
.tierHeaderContent_a36dee,
.tierTitle_a36dee,
.theme-dark .tierBody-3ju-rc,
.theme-dark .tierHeaderLocked-3ItHYn,
.theme-dark .perk-19D_HN,
.theme-dark .tierMarkerBackground-G8FoN4,
.progressBar-20NUv9 {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}

.perksModalContentWrapper-3RHugb {
  background-color: var(--neptune-main-bg);
}

.theme-dark .ctaBar-Nhk8yY {
  background-color: var(--neptune-main-color);
}

.input_df4dd0 {
  background-color: var(--neptune-main-color);
}

.input_df4dd0::placeholder {
  color: var(--neptune-main-bg);
}

.avatar-3QF_VA {
  background: var(--neptune-main-bg);
  border: var(--neptune-main-bg);
}

.pageButton-1GMGeJ,
.clear_fea832 .icon_fea832,
.clear_fea832.iconLayout_fea832:hover .icon_fea832 {
  color: var(--neptune-main-color);
}

.datePicker-70cO23 {
  background-color: var(--neptune-main-bg);
}

.theme-dark .notches_e5cdf3.gray_e5cdf3 {
  background: var(--neptune-main-bg);
}

.toast-q3Y4wI,
.footer-3naVBw {
  background-color: var(--neptune-main-bg);
}

.size16-rrJ6ag {
  color: var(--neptune-main-color);
}

.avatarWrapper.StatusEverywhere-avatar-userPopout {
  background: var(--neptune-main-bg);
  border: 6px solid var(--neptune-main-bg);
}

.menu_c1e9c4, .colorDefault-CDqZdO { 
  border-radius: 15px; 
}

.item-1OdjEX {
  color: var(--neptune-main-color);
}

.buttonWrapper__24af7 svg  {
  color: var(--neptune-main-bg) !important;
}

.icon__9293f, .title__9293f, .icon_a45028 {
  color: var(--neptune-main-color) !important;
}

.sprite__04eed.spriteGreyscale__04eed.inactive__04eed {
  background-color: var(--neptune-main-bg);
}

.theme-dark .themed__9293f {background: var(--neptune-main-bg);}

.children__9293f::after {
    background: var(--neptune-main-bg) !important;
}

.footer__214dc {
  background: var(--neptune-main-bg) !important; 
}

.mentioned__5126c {
  background-color: color-mix(in srgb, var(--neptune-main-color) 40%, transparent) !important;
}
.mentioned__5126c:before {
  background-color: var(--neptune-main-color);
}

.mention, .channelMention  {
  background: var(--neptune-main-color) !important;
  color: var(--neptune-main-bg) !important;
}

.contents__201d5.buttonContents_e131a9 .lottieIcon__5eb9b.buttonIcon_e131a9 {
  --__lottieIconColor: var(--neptune-main-color) !important;
}

.panels__5e434 {
  background: var(--neptune-main-bg) !important;
}

.reminder-button {
  background-color: var(--neptune-main-color) !important;
  color: var(--neptune-main-bg) !important;
}

button.button__67645 .lottieIcon__5eb9b svg path {
  fill: var(--neptune-main-color) !important;
}

.itemsContainer_ef3116 {
  background: var(--neptune-main-bg);
}

.content__37e49 {
  background: var(--neptune-main-bg) !important;
}


.container__5e434, .visual-refresh .sidebar__5e434:after {
  background: var(--neptune-main-bg) !important;
}

.panels__5e434 {
  border: none;
}

.title_c38106 .defaultColor__4bd52 {
color: var(--neptune-main-color);
}


.content_f75fb0 {
  background: var(--neptune-main-bg);
}

.container__0f2e8.openOnHover__0f2e8 {
  background: var(--neptune-main-color);
}

.visual-refresh .sidebar__5e434:after {
height: 70px;
  right: 0px;
}



.circleIconButton__5bc7e:hover {
background: var(--neptune-sec-color) !important;
}

.nameTag__37e49  .title_b6c092, .nameTag__37e49 .subtext__339d0 {
color: var(--neptune-main-color);
}

.menu_c1e9c4 {
background-color: var(--neptune-main-color);
}

.menu_c1e9c4 .label_c1e9c4, .menu_c1e9c4 .iconContainer_c1e9c4 svg {
color: var(--neptune-main-bg);
}

.modeMuted__2ea32 .icon__2ea32, .modeMuted__2ea32 .name__2ea32 {
color: var(--neptune-sec-color) !important;
}

.button__201d5 .contents__201d5 {
  color: var(--neptune-main-bg);
}

.headerText_aa8da2, .sidebar__23e6b .side_aa8da2 .item_aa8da2, .bd-sidebar-header h2 {
  color: var(--neptune-main-bg) !important;
}

.title__85643 svg path {
  fill: var(--neptune-main-color) !important;
}

.lottieIconColors__5eb9b :not(defs *)[stroke][stroke-opacity] {
  stroke: var(--neptune-main-color) !important;
}

.lottieIcon__5eb9b {
  color:var(--neptune-main-bg);
}

.clickable_c99c29 {
  color: var(--neptune-main-color) !important;
}

.spriteGreyscale__04eed {
  background-color: var(--neptune-main-bg);
}

.sidebar__5e434, .sidebar__5e434:after, .bar_c38106, .container__2637a {
  background: var(--neptune-main-bg) !important;
}

.numberBadge__463b7, .mentionsBar__7aaec {
  background-color: var(--neptune-main-color) !important;
  color: var(--neptune-main-bg) !important;
}

.clickable__81391 {
  color: var(--neptune-main-color);
}


::-webkit-scrollbar {
  width: 4px !important;
  height: 8px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border-color: transparent !important;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  border: none !important;
  background-clip: content-box !important;
  background: var(--neptune-main-color) !important;
}

::-webkit-scrollbar-corner {
  visibility: hidden !important;
}

.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar,
.scrollerThemed-2oenus.themeHidden-2yP93k
  .scroller-2FKFPG::-webkit-scrollbar-corner,
.scrollerThemed-2oenus.themeHidden-2yP93k
  .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeHidden-2yP93k
  .scroller-2FKFPG::-webkit-scrollbar-track {
  display: none !important;
}

::selection {
  background-color: var(--neptune-main-color);
  color: var(--neptune-main-bg);
}
